.bundle
.DS_Store
.env
.overmind.sock
.yarn-integrity
/.claude
/.vscode
/.yarn
/coverage
/log
/node_modules
/public/mcp-widgets/*.html
/public/packs
/public/packs-test
/public/sitemap
/tmp
/yarn-error.log
yarn-debug.log*
