dist: trusty
language: ruby
rvm:
  - 2.7.3
cache: bundler
notifications:
  email: false
addons:
  apt:
    packages:
      - chromium-chromedriver
  postgresql: '9.4'
before_install:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
  - psql -c 'create database phishin_test;' -U postgres
  - gem update --system
  - gem install bundler
script:
  - bundle exec rubocop
  - bundle exec rspec
