version: '3'

services:
  app:
    build: .
    ports:
      - 3000:3000
    volumes:
      - /private/var/app_content/phishin:/content
      - .:/phishin
    tty: true
    stdin_open: true
  pg:
    image: postgres:10.5
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
  adminer:
    image: adminer
    ports:
      - 81:8080

volumes:
  pg_data:
