version: '3'

services:
  app:
    build: .
    ports:
      - 3000:3000
    volumes:
      - /j/app_content/phishin:/content
      - .:/phishin
    tty: true
    stdin_open: true
  pg:
    image: postgres:14.2-alpine
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

volumes:
  pg_data:
