<div id="content">
  
  <div id="title_box">
    <h1>Reset a Password</h1>
  </div>

  <div id="content_box">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      
      <br />
      <div class="field_label">Email</div>
      <div class="field_content"><%= f.email_field :email, :autofocus => true %></div>
      <div style="clear: both;"></div>
      
      <br />
      <div class="field_label"><%= f.submit "Send Password Reset Instructions" %></div>
      <div style="clear: both;"></div>

    <% end %>
  </div>
  
  <div style="clear: both;"></div>
  
</div>
