<div class="app_callout" id="phishod_callout">
  <%= image_tag 'icon-phishod.png', alt: 'Phish On Demand iOS app' %>
  <h2>Phish On Demand</h2>
  <h3>Get the iOS app!</h3>
  <!-- <p>Download the official app for iOS devices!</p> -->
</div>
<div style="clear: both;"></div>