<div class="btn_context">
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-round" data-toggle="dropdown" href="null">
      <i class="icon-chevron-right"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
      <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
      <%= content_tag :li, link_to('<i class="icon-share-alt"></i>&nbsp;&nbsp;Share'.html_safe, "null", class: 'share', data: { url: "/#{track.show.date}/#{track.slug}"}) %>
      <%= content_tag :li, link_to('<i class="icon-download"></i>&nbsp;&nbsp;Download'.html_safe, "null", data: { url: download_track_path(track) }, class: "download") %>
      <!-- <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li> -->
      <!-- <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li> -->
    </ul>
  </div>
</div>