<div class="btn_context">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
      <i class="icon-chevron-right"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
      <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
      <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
      <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
      <!-- <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li> -->
    </ul>
  </div>
</div>