<div class="modal hide fade" id="download_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Requesting download...</h3>
  </div>
  <div class="modal-body">
    <div id="download_modal_body">
      <div id="spinnerbox"></div>
      <br /><br />
      <strong>Please wait...</strong>
      <br />
      Your download will begin shortly
      <br /><br /><br />
      <div id="album_timeout">
        <p><strong>It isn't nearly fast enough for you...</strong><br /><br />
          You can use the following URL at a later time to retrieve your content:</p>
        <div id="album_url"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
new Spinner({
  lines: 13,
  length: 12,
  width: 7,
  radius: 15,
  corners: 1.0,
  rotate: 0,
  direction: -1,
  color: '#000',
  speed: 1.0,
  trail: 50,
  left: 195
}).spin($('#spinnerbox').get(0));
</script>