<div class="modal hide fade" id="download_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Requesting download...</h3>
  </div>
  <div class="modal-body">
    <div id="download_modal_body">
      <%= image_tag "ajax-loader.gif", :alt => "loading" %><br /><br />
      Please wait...<br />Your download will begin in less than a minute
      <br />
    </div>
  </div>
</div>