#save_playlist_modal.modal.hide.fade
  .modal-header
    button.close type='button' data-dismiss='modal' aria-hidden='true' ×
    h3 Save Your Active Playlist
  .modal-body
    .field_label Action
    .field_content
      select#save_action_dropdown
        option#save_action_new value='new' Create new playlist
        option#save_action_existing value='existing' Update existing playlist
    .field_label Name
    .field_content
      input#playlist_name_input type='text' placeholder="Carini's Lumpy List"
    .field_label phish.in/play/
    .field_content
      input#playlist_slug_input type='text' placeholder='carinis-lumpy-list'
  .modal-footer
    button#save_playlist_submit.btn Save
