<div id="save_playlist_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save Your Active Playlist</h3>
  </div>
  <div class="modal-body">
    <!-- <p>You can save playlists and share them by providing a name and URL segment:</p>
    
    <br /> -->
    
    <div class="field_label">Action</div>
    <div class="field_content">
      <select id="save_action_dropdown">
        <option id="save_action_new" value="new">Create new playlist</option>
        <option id="save_action_existing" value="existing">Update existing playlist</option>
      </select>
    </div>
    
    <div class="field_label">Name</div>
    <div class="field_content"><input type="text" id="playlist_name_input" placeholder="Carini's Top Picks"></div>
    
    <div class="field_label">phish.in/play/</div>
    <div class="field_content"><input type="text" id="playlist_slug_input" placeholder="carinis-top-picks"></div>
    
  </div>
  <div class="modal-footer">
    <button class="btn" id="save_playlist_submit">Save</button>
  </div>
</div>