<div id="save_playlist_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save the Current Playlist</h3>
  </div>
  <div class="modal-body">
    <p>You can permanently save playlists and share them by providing a name a URL segment below.  The URL must be globally unique.</p>
    
    <br />
    
    <div class="field_label">Name</div>
    <div class="field_content"><input type="text" id="playlist_name_input" placeholder="My Epic Playlist"></div>
    
    <div class="field_label">URL</div>
    <div class="field_content"><input type="text" id="playlist_slug_input" placeholder="my-epic-playlist"></div>
    
  </div>
  <div class="modal-footer">
    <button class="btn" id="save_playlist_submit">Save Playlist</button>
  </div>
</div>