<div id="share_modal" class="modal hide fade">
  <div class="modal-body">
    <p>Copy/paste the following link to share with others...</p>
    <div id="share_modal_body"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>