<div id="share_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Copypasta...</h3>
  </div>
  <div class="modal-body">
    <div id="share_url"></div>
    <div id="share_track_tips">
      <i class="icon-info-sign"></i> You can add a time marker to the end of this url such as <strong>?t=2m33s</strong> if you want the player to begin somewhere in the middle of the track
    </div>
  </div>
</div>