#share_modal.modal.hide.fade
  .modal-header
    button.close type='button' data-dismiss='modal' aria-hidden='true' ×
    h3 Copypasta...
  .modal-body
    #share_url
    #share_track_tips
      i.icon-info-sign
      |  You can add a time marker to the end of this url such as
      strong<
        | ?t=2m33s
      |  if you want the player to begin somewhere in the middle of the track
