<h3>Sort by&nbsp;
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-sort" data-toggle="dropdown" href="null">
      <%
      item_hash.each do |key, val|
        if params[:sort] == val or !params[:sort] or params[:sort].empty?
          %><%= key.html_safe %><%
          break
        end
      end
      %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% item_hash.each do |key, val| %>
        <% link = params[:sort] == val ? "<strong>#{key}</strong>" : key %>
        <% param_str = "?sort=#{CGI::escape(val)}" %>
        <% param_str += "&filter=#{params[:filter]}" if params[:filter] %>
        <%= content_tag :li, link_to(link.html_safe, param_str)%>
      <% end %>
    </ul>
  </div>
</h3>