#taper_notes_modal.modal.hide.fade
  .modal-header
    button.close type='button' data-dismiss='modal' aria-hidden='true' ×
    h3
      | Taper Notes for
      span#taper_notes_date< [date]
  .modal-body
    pre#taper_notes_content
