<div id="twitter_follow_button">
  <a href="http://twitter.com/phish_in" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @phish_in</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p='http';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>