<div id="user_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign In / Sign Up</h3>
  </div>
  <div class="modal-body">
    <p>...</p>
  </div>
  <div class="modal-footer">
    <a href="null" class="btn">Close</a>
    <a href="null" class="btn btn-primary">Submit</a>
  </div>
</div>