<%= render partial: 'layouts/global_nav' %>

<div id="content">

  <div id="title_box">
    <h1>API Documentation</h1>
    <div class="hr"></div>
    <h3>Phish.in provides a JSON API for programmatic access to content</h3>
<!--     <div class="hr"></div>
    <h3>V1 is the only current version</h3> -->
    <div class="hr"></div>
    <h2>API Wrappers</h2>
    Javascript: <a href="https://github.com/lholmquist/phishin-js"><span class="bluelink">phishin-js by lhomlquist</span></a>

  </div>

  <div id="content_box">

    <h2 class="content-header">Requests</h2>
    <p>All requests must be in the form of <span class="api-command-inline">HTTP GET</span> and must include the <span class="api-command-inline">Accept: application/json</span> header</p>

    <h2>Responses</h2>

    <p>Responses will include the header <span class="api-command-inline">Content-Type: application/json</span> and should be parsed as JSON.</p>

    <p>Responses to successful requests look like this:</p>

    <pre>
{
  "success": true,
  "total_entries": #,
  "total_pages": #,
  "page": #,
  "data": [response content]
}</pre>

    <p>Responses to failed calls look like this:</p>

    <pre>
{
  success: false,
  message: "Something went wrong!"
}</pre>

    <h2>Parameters</h2>

    <p>Most routes accept the following optional parameters:</p>

    <ul class="api-list">
      <li><span class="api-command-inline">sort_attr</span> Which attribute to sort on (Ex: "date", "name")</li>
      <li><span class="api-command-inline">sort_dir</span> Which direction to sort in (asc|desc)</li>
      <li><span class="api-command-inline">per_page</span> How many results to list per page (default: 20)</li>
      <li><span class="api-command-inline">page</span> Which page of results to display (default: 1)</li>
    </ul>

    <p>A few routes also accept the following optional parameters:</p>
    <ul class="api-list">
      <li><span class="api-command-inline">tag</span> [/tracks and /shows] Return only results that have the specified tag (Example: /shows?tag=SBD)</li>
    </ul>


    <h2>Endpoints</h2>

    <span class="">All endpoints can be reached by using the full address of http://phish.in/api/v1 followed by one of these routes:</span>

    <span class="api-command">GET /eras</span>
    <span class="api-doc">Returns all Eras and the Years that belong to each</span>

    <span class="api-command">GET /eras/:era</span>
    <span class="api-doc">Returns Years contained within the specified Era</span>

    <span class="api-command">GET /years</span>
    <span class="api-doc">
      Returns a list of all Years.<br>
      Add <span class="api-command-inline">?include_show_counts=true</span> for a more detailed response.
    </span>

    <span class="api-command">GET /years/:year</span>
    <span class="api-doc">Returns a list of Shows (basic data) for the given Year</span>

    <span class="api-command">GET /songs</span>
    <span class="api-doc">Returns a list of all Songs</span>

    <span class="api-command">
      GET /songs/:id<br />
      GET /songs/:slug
    </span>
    <span class="api-doc">Returns Song metadata for given ID (or slug) as well as a list of Tracks that contain performances of the Song</span>

    <span class="api-command">GET /tours</span>
    <span class="api-doc">Returns a list of all Tours</span>

    <span class="api-command">
      GET /tours/:id<br />
      GET /tours/:slug
    </span>
    <span class="api-doc">Returns Tour metadata for given ID (or slug) as well as a list of Shows that occurred within the Tour</span>

    <span class="api-command">GET /venues</span>
    <span class="api-doc">Returns a list of all Venues</span>

    <span class="api-command">
      GET /venues/:id<br />
      GET /venues/:slug
    </span>
    <span class="api-doc">Returns Venue metadata for given ID (or slug) as well as a list of Shows (ids, dates) that occurred at the Venue</span>

    <span class="api-command">GET /shows</span>
    <span class="api-doc">Returns a list of all Shows</span>

    <span class="api-command">GET /shows/:id</span>
    <span class="api-command">GET /shows/:date (yyyy-mm-dd)</span>
    <span class="api-doc">Returns Show metadata for given ID or date (eg '1994-10-31') as well as Venue metadata and a list of Tracks belonging to the Show</span>

    <span class="api-command">GET /show-on-date/:date</span>
    <span class="api-doc">Returns Show metadata for given date as well as Venue metadata and a list of Tracks belonging to the Show</span>

    <span class="api-command">GET /shows-on-day-of-year/:day</span>
    <span class="api-doc">Returns Show metadata for given day (eg 'october-31' or '10-31') as well as Venue metadata and a list of Tracks belonging to each Show.</span>

    <span class="api-command">GET /random-show</span>
    <span class="api-doc">Returns metadata for a randomly selected Show as well as Venue metadata and a list of Tracks belonging to the Show</span>

    <span class="api-command">GET /tracks</span>
    <span class="api-doc">Returns a list of all Tracks</span>

    <span class="api-command">GET /tracks/:id</span>
    <span class="api-doc">Returns Track metadata for given ID</span>

    <span class="api-command">GET /search/:term</span>
    <span class="api-doc">Returns search results based on term.  If term resembles a date, "show" and "other_shows" (taking place on that day in history) will be returned.  Otherwise, lists of "venues" and "songs" will be returned.</span>

    <span class="api-command">GET /playlists/:slug</span>
    <span class="api-doc">Returns Playlist metadata for given slug and a list of Tracks belonging to the Playlist</span>

    <h2>Examples</h2>

    <p>[1] Requesting "the song with ID of 40":</p>

    <span class="api-command">GET http://phish.in/api/v1/songs/40.json</span>

    <p>will result in this response:</p>

    <pre>
{
  "success": true,
  "total_entries": 1,
  "total_pages": 1,
  "page": 1,
  "data": {
    "id": 40,
    "title": "Any Colour You Like",
    "alias_for": null,
    "tracks_count": 1,
    "slug": "any-colour-you-like",
    "updated_at": "2012-08-25T15:04:00Z",
    "tracks": [
      {
        "id": 17963,
        "title": "Any Colour You Like",
        "duration": 211696,
        "show_id": 904,
        "show_date": "1998-11-02",
        "set": "2",
        "position": 20,
        "likes_count": 0,
        "slug": "any-colour-you-like",
        "mp3": "http://phish.in/audio/000/017/963/17963.mp3"
      }
    ]
  }
}</pre>

    <p>[2] Requesting "the 3 most recent shows": </p>

    <span class="api-command">GET http://phish.in/api/v1/shows.json?per_page=3&page=1&sort_attr=date&sort_dir=desc</span>

    <p>will result in a response that looks like this:</p>

    <pre>
{
  "success": true,
  "total_entries": 1467,
  "total_pages": 489,
  "page": 1,
  "data": [
    {
      "id": 1846,
      "date": "2016-01-02",
      "duration": 9825384,
      "incomplete": false,
      "missing": false,
      "sbd": false,
      "remastered": false,
      "tour_id": 96,
      "venue_id": 408,
      "likes_count": 14,
      "taper_notes": "2016- 01/02: Madison Square Garden; New York, NY **24bit** (mk41v)\n\nPhish\nMadison Square Garden; New York, NY\n01/02/15\n\nLocation: OTS DFC\nSource: Schoeps mk41v> NBob KCY> Naiant PFA> Tascam DR70d @ 24 bit / 48 kHz\nTransfer: SD Card> Macbook Pro> Sound Studio> Tracking and Fades> Izotope (Resample & Dither)> xact> Flaccing\n\nRecorded and transferred by Noah Bickart <noahbickart@gmail.com>\n\nSet I:\nYour Pet Cat (4:57)\nAC/DC Bag (6:55)\nNICU (6:11)\nIt's Ice (8:09)\nHorn (3:48)\nDivided Sky (16:23)\nAxilla I (3:26)\nMaze (9:27)\nTrain Song (3:07)\nJulius (8:30)\n\nSet II: \nTweezer (22:07)\nSand (9:41)\nLimb By Limb (7:23)\nSuzy Greenberg (5:49)\nHarry Hood (11:48)\nYou Enjoy Myself \n\nEncore Break\nThe Lizards (10:05)\nTweezer Reprise (4:34)\n",
      "updated_at": "2016-01-03T20:25:45Z",
      "venue_name": "Madison Square Garden",
      "location": "New York, NY"
    },
    {
      "id": 1845,
      "date": "2016-01-01",
      "duration": 9844247,
      "incomplete": false,
      "missing": false,
      "sbd": false,
      "remastered": false,
      "tour_id": 96,
      "venue_id": 408,
      "likes_count": 8,
      "taper_notes": "Phish\n1/1/16\nMadison Square Garden\nNew York, NY \n\n\nField: AKG C414xls card/hyper > Edirol R4Pro ( Oade preamp mod ) @ 24/88.2\nconfig: pointed at PA array, behind SBD, dead center, 13 feet high\n\nPath: R4Pro > WaveBurner ( track on sector boundaries, fades, SRC, BDC ) > xACT ( to flac, and for tagging and checksums )\n\nRecorded, processed and let loose by Mike Kutik ( padelimike at mac d0t c0m )\nAt bt.etree.org 2016-01-02\n\n\nSet the First:\ncrowd in\nStealing Time From The Faulty Plan\nHeavy Things\nHow Many People Are You?\nStash\nUndermind\nRift\nWingsuit\nOcelot\nLawn Boy\nRun Like An Antelope\n\n\nSet the Second:\ncrowd in\nDown With Disease \nDirt\nHalfway To The Moon \nTheme From The Bottom \nLight \nFuego \nSlave To The Traffic Light\nencore break\nFarmhouse\nexit music\n\n\nFade tracks are included for smooth CDR burning.",
      "updated_at": "2016-01-02T18:56:44Z",
      "venue_name": "Madison Square Garden",
      "location": "New York, NY"
    },
    {
      "id": 1844,
      "date": "2015-12-31",
      "duration": 12891297,
      "incomplete": false,
      "missing": false,
      "sbd": false,
      "remastered": false,
      "tour_id": 96,
      "venue_id": 408,
      "likes_count": 22,
      "taper_notes": "2015- 12/31: Madison Square Garden; New York, NY **24bit** (mk41v)\n\nPhish\nMadison Square Garden; New York, NY\n12/31/15\n\nLocation: OTS DFC\nSource: Schoeps mk41v> NBob KCY> Naiant PFA> Tascam DR70d @ 24 bit / 48 kHz\nTransfer: SD Card> Macbook Pro> Sound Studio> Tracking and Fades> Izotope (Resample & Dither)> xact> Flaccing\n\nRecorded and transferred by Noah Bickart <noahbickart@gmail.com>\n\nSET ONE:\n\nThe Moma Dance\nPossum\nWolfman's Brother\nBirds of a Feather\nI Didn't Know> Happy Birthday\nMartian Monster\nReba\nWalls Of The Cave\n\nSET TWO:\n\nIntro\nThe Wedge\nWilson\nA Song I Heard The Ocean Sing\nYarmouth Road\nKill Devil Falls\nPiper\nTwist\n\nSET THREE:\n\nNo Men In No Man's Land> Auld Lang Syne\nBlaze On\nCarini\nDavid Bowie\nThe Horse> Silent In The Morning\nBackwards Down the Number Line\n\nEncore Break\n\nTube\nCavern",
      "updated_at": "2016-01-01T18:24:38Z",
      "venue_name": "Madison Square Garden",
      "location": "New York, NY"
    }
  ]
}</pre>


  </div>

  <div style="clear: both;"></div>

</div>
