<div id="header_container">
  <div id="header">
    <h1>Contact</h1>
  </div>
</div>
  
<div id="content">
  
  <div id="paragraph_content">
    <p>I woke up one morning in November<br />
  And I realized I love you<br />
  It's not your headlights in front<br />
  Your tailpipe, or the skylight above you<br />
  It's the way you cling to the road<br />
  When the wind tries to shove you<br />
  I'd never go driving away<br />
  And come back home without you</p>
  
  <br />
    <p><strong>What's up? <a href="mailto:<%= APP_EMAIL %>"><%= APP_EMAIL %></a></strong></p>
  </div>
    
</div>
