<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <h1>Contact</h1>
  </div>
  
  <div id="content_box">
    
    <p class="large">I woke up one morning in November<br />
    And I realized I love you<br />
    It's not your client in front<br />
    Your models, or the web stack above you<br />
    It's the way you cling to the code<br />
    When users try to shove you<br />
    I'd never go browsing away<br />
    And come back home without you</p>
    
    <br />
    
    <p class="large"><a href="mailto:<%= APP_EMAIL %>" class="non-remote" target="_blank"><%= APP_EMAIL %></a></p>
    <%= render partial: 'shared/twitter_follow_button' %>
  </div>
    
</div>
