<div id="header_container">
  <div id="header">
    <div class="btn-group content_tabs">
      <a href="/zphishmock/index_years.html" data-title="Years"><button class="btn btn-primary active">Years</button></a>
      <button class="btn">Songs</button>
      <a href="/zphishmock/index_locations.html" data-title="Locations"><button class="btn">Locations</button></a>
      <button class="btn">Venues</button>
      <a href="/zphishmock/index_liked.html" data-title="Most Liked"><button class="btn">Most Liked</button></a>
    </div>
  </div>
</div>

<div id="content">
      
  <h1>3.0 Era</h1>
  <div id="era3">
    <ul class="year_list">
      <li><a href="year.html">2012</a></li>
      <li><a href="year.html">2011</a></li>
      <li><a href="year.html">2010</a></li>
      <li><a href="year.html">2009</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <h1>2.0 Era</h2>
  <div id="era2">
    <ul class="year_list">
      <li>2004</li>
      <li>2003</li>
      <li>2002</li>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <h1>1.0 Era</h1>
  <div id="era1">
    <ul class="year_list">
      <li>2000</li>
      <li>1999</li>
      <li>1998</li>
      <li>1997</li>
      <li>1996</li>
      <li>1995</li>
      <li>1994</li>
      <li>1993</li>
      <li>1992</li>
      <li>1991</li>
      <li>1990</li>
      <li>1989</li>
      <li>1988</li>
      <li>1987 - 83</li>
    </ul>
    <div style="clear: both;"></div>
  </div>
      
  <div style="clear: both;"></div>
      
</div>