<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <h1>Legal Stuff</h1>
  </div>
  
  <div id="content_box">
    <p class="large">This site complies with Phish's official taping policy as described at <a href="http://phish.com/#/faq/taping-guidelines" class="non-remote" target="_blank">http://phish.com/#/faq/taping-guidelines</a>.</p>
    <p class="large">If you know any of the material on this site to be in violation of Phish's policy, please send an email to <a href="mailto:<%= APP_EMAIL %>" class="non-remote" target="_blank"><%= APP_EMAIL %></a>.</p>
  </div>
  
  <div style="clear: both;"></div>
    
</div>
