<div id="header_container">
  <div id="header">
    <h1>Legal Stuff</h1>
  </div>
</div>
  
<div id="content">
  
  <div id="paragraph_content">
  
    <p>This site complies with Phish's official taping policy as described at <a href="http://phish.com/#/faq/taping-guidelines">http://phish.com/#/faq/taping-guidelines</a>.</p>
  
    <p>If you know any of the material on this site to be in violation of Phish's policy, please send an email to <a href="mailto:phish.in.music@gmail.com" class="non-remote">phish.in.music@gmail.com</a>.</p>
  
  </div>
    
</div>
