<%= render 'index_header' %>
  
<div id="content">
      
  <h1>Most Liked Shows</h1>
  <ul class="item_list">
    <li>
      <h2>June 7</h2>
      <h4><a href="null">DCU Center</a></h4><h5><a href="null">Worcester, MA</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 8</h2>
      <h4><a href="null">DCU Center</a></h4><h5><a href="null">Worcester, MA</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 10</h2>
      <h4><a href="null">Bonnaroo Music &amp; Art...</a></h4><h5><a href="null">Manchester, TN</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 15</h2>
      <h4><a href="null">Bader Field</a></h4><h5><a href="null">Atlantic City, NJ</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 16</h2>
      <h4><a href="null">Bader Field</a></h4><h5><a href="null">Atlantic City, NJ</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 17</h2>
      <h4><a href="null">Bader Field</a></h4><h5><a href="null">Atlantic City, NJ</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 19</h2>
      <h4><a href="null">nTelos Pavilion</a></h4><h5><a href="null">Portsmouth, VA</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>June 20</h2>
      <h4><a href="null">nTelos Pavilion</a></h4><h5><a href="null">Portsmouth, VA</a></h5>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
  </ul>
  <h4><a href="null">load 10 more...</a><h4>
      
  <h1>Most Liked Tracks</h1>
  <ul class="item_list">
    <li>
      <h2>Stealing Time from the Faulty Plan</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>6:08</h3>
      <div class="likes_for_track"><a></a><span>2</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>The Moma Dance</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>8:23</h3>
      <div class="likes_for_track"><a></a><span></span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Funky Bitch</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>7:14</h3>
      <div class="likes_for_track"><a></a><span>4</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Army of One</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>5:03</h3>
      <div class="likes_for_track"><a></a><span>105</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Tube</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>5:32</h3>
      <div class="likes_for_track"><a></a><span>7</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Stash</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>11:49</h3>
      <div class="likes_for_track"><a></a><span>21</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Nellie Kane</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>3:41</h3>
      <div class="likes_for_track"><a></a><span>45</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Kill Devil Falls</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>8:58</h3>
      <div class="likes_for_track"><a></a><span>23</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Free</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>8:00</h3>
      <div class="likes_for_track"><a></a><span>568</span></div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <h2>Wolfman's Brother</h2>
      <div class="btn-group btn_context">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
          <i class="icon-chevron-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="null"><i class="icon-play"></i>&nbsp;&nbsp;Play</a></li>
          <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to Playlist</a></li>
          <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
          <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3</a></li>
          <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
        </ul>
      </div>
      <h3>15:08</h3>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
  </ul>
  <h4><a href="null">load 10 more...</a><h4>
      
</div>