default: &default
  adapter: postgresql
  username: postgres
  password: postgres
  host: localhost
  port: 5432
  encoding: unicode

development:
  <<: *default
  database: phishin_development
  min_messages: warning

test:
  <<: *default
  database: phishin_test
  min_messages: error
  variables:
    statement_timeout: 90s

production:
  url: <%= ENV['DATABASE_URL'] %>
