<div id="root">
  <div class="loader-container">
    <img src="<%= asset_host_placeholder %>/mcp-widgets/images/<%= logo_full_placeholder %>" alt="<%= app_name_placeholder %>" class="loader-logo" />
    <div class="loader-text">Loading...</div>
  </div>
</div>

