= render partial: 'layouts/global_nav'

#content
  #title_box
    h2 All Tags (#{number_with_delimiter(Tag.count)} total)
    = render partial: 'sort_tags_filter', locals: { item_hash: tag_sort_items }
    .hr
    p Tags are used to mark certain Shows and Tracks with special meaning. For example, the "SBD" tag means that the audio is sourced from the Soundboard rather than a microphone in the audience.

  #content_box
    ul.item_list.clickable
      - @tags.each do |tag|
        li
          h2
            a href="/tags/#{URI.encode(tag.slug)}?entity=track"
              .tag_container_small = tag_label(tag)
          h2.wider.small-font = truncate(tag.description, length: 70)
          h3.alt = pluralize_with_delimiter(tag.tracks_count, 'track')
          h3.alt = pluralize_with_delimiter(tag.shows_count, 'show')
          = clear_both

  = clear_both
