<%= render partial: 'layouts/global_nav' %>

<div id="content">
  
  <div id="title_box">
    <h1>404: Tag not found</h1>
  </div>
  
  <div id="content_box">
    <h2>The banker said, "I ain't got that..."</h2>
    <p>No tag by the name of '<%= params[:name] %>' was found.  Please try another name.</p>
  </div>
</div>