<!DOCTYPE html>
<html>
<head>
  <title>phish.in'</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 500px;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      border-radius: 10px;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div class="dialog">
    <h1>Sorry, but...</h1>
    <p><strong>phish.in'</strong> is not yet supported on mobile devices.</p>

    <p>Until mobile support is added, you can use a desktop machine to access the site and download the MP3s you want to listen to onto your mobile device.  Or use <a href="http://www.phishtracks.com">PhishTracks</a>.</p>
  </div>
</body>
</html>
