@use "./variables" as *;

.like-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.fa-heart {
  color: var(--text-gray);
}

.heart-icon {
  color: var(--text-gray);
  cursor: pointer;
}

.heart-icon.liked {
  color: var(--blue);
}

.likes-count {
  font-family: 'Marck Script', cursive;
  color: var(--text-gray);
  width: 1.8rem;
  text-align: left;
}
