@use "./variables" as *;

.playlist-description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4rem;
}

.badge-unsaved {
  background-color: var(--bg-red);
  padding: 0.3rem;
  border-radius: $radius;
}

.badge-saved {
  background-color: var(--bg-blue);
  padding: 0.3rem;
  border-radius: $radius;
}

.cover-art-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 14rem;
  overflow-y: auto;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: $radius;
    border: 3px solid transparent;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &.selected {
      border-color: var(--blue);
      opacity: 1;
    }
  }
}
