@use "./variables" as *;

.custom-tooltip {
  position: fixed;
  z-index: 9999;
  transform: translateY(calc(-100% - 0.4rem));
  max-width: 25rem;
  padding: 0.5rem 1rem;
  border-radius: $radius;
  background-color: var(--tooltip-bg);
  color: #fff;
  opacity: 0.9;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: left;
  white-space: normal;
  pointer-events: none;

  &.is-below {
    transform: translateY(0.4rem);
  }
}
