@import "~@fontsource/marck-script/400.css";
@import "~@fontsource/open-sans-condensed/300.css";
@import "~@fontsource/open-sans-condensed/700.css";
@import '~mapbox-gl/dist/mapbox-gl.css';

@import "bulma";

$bg_gray: #f2f3f5;
$header_gray: #c7c8ca;
$inactive_gray: #d9dbdc;
$control_gray: #f5f5f5;
$text_gray: #6d6f71;
$google-blue: #5385ed;
$likes_blue: #03bbf2;
$info_blue: #cbf3ff;

@import "./content.css.scss";
@import "./pagination.css.scss";
@import "./layout.css.scss";
@import "./tags.css.scss";
@import "./tooltips.css.scss";
@import "./map.css.scss";
@import "./likes.css.scss";
@import "./feedback.css.scss";
@import "./footer.css.scss";
@import "./bulma-overrides.css.scss";
@import "./sidebar.css.scss";
@import "./modal.css.scss";
@import "./player.css.scss";
@import "./navbar.css.scss";
@import "./errors.css.scss";

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $bg_gray;
  font-family: "Open Sans Condensed", sans-serif;
}

input, textarea, select, button {
  font-family: inherit;
}

main {
  flex: 1;
}

::placeholder {
  font-family: "Open Sans Condensed", sans-serif;
}

.icon {
  color: $text_gray;
}

.loader-container {
  position: fixed;
  top: 56px; // Don't fade the navbar
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.hilite {
  background-color: yellow !important;
}

.section {
  padding-top: 0 !important;
}

// Static pages
.api-command {
  margin: 0.5rem 0;
  display: block;
  border-radius: 0.25rem;
  border: 1px dashed #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.api-inline {
  margin: 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px dashed #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.api-doc {
  display: block;
  margin: 0 0 2rem 1rem;
}

// OAuth
.external-login-btn {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.login-logo {
  background-color: white;
  border-radius: 3px;
  width: 28px;
  height: 28px;
  position: relative;
  left: -10px;
  padding: 3px;

  img {
    position: relative;
    top: -6px;
  }
}
.google-btn {
  color: white !important;
  background-color: $google-blue;
}
