.layout-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  gap: 1rem;
  align-items: flex-start;
}

.main-content {
  flex: 1;
}

.sidebar {
  flex: 0 0 16rem;
  background-color: $header-gray;
  padding: 1rem;
  max-height: fit-content;
  margin-right: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: var(--bulma-radius);
}

@media (max-width: 1023px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar {
    display: inline-block;
    width: 100%;
    flex: none !important;
  }

  .main-content {
    width: 100%;
  }
}

@media (min-width: 1023px) {
  .sidebar {
    flex: 0 0 16rem;
    margin-right: 2rem;
    padding: 1rem;
  }
}
