.layout-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  gap: 1rem;
  align-items: flex-start;
}

.main-content {
  flex: 1;
}

.mobile-title {
  display: block;
}

@media (max-width: 1023px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .mobile-title {
    display: block;
  }
}

@media (min-width: 1023px) {
  .mobile-title {
    display: none;
  }
}
