.fa-heart {
  color: $text-gray;
}

.heart-icon {
  color: $text-gray;
  cursor: pointer;
  margin-right: 0.3rem;
}

.heart-icon.liked {
  color: $likes-blue;
}

.likes-count {
  width: 1.8rem;
  text-align: left;
}
