@media (max-width: 1023px) {
  .hidden-mobile {
    display: none !important;
  }
  .visible-mobile {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .hidden-mobile {
    display: block !important;
  }
  .visible-mobile {
    display: none !important;
  }
}
