.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: var(--bulma-radius);
  width: 500px;
  margin: 0 auto;
  max-height: 500px;
  overflow: auto;

  &:focus {
    outline: none;
  }
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
