.navbar {
  background-color: $header_gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Adds a subtle drop shadow */

  .navbar-brand {
    img {
      border-radius: var(--bulma-radius);
    }
  }
}
