.phone-show-container {
  display: flex;
  align-items: flex-start;
  position: relative;

  .phone-show-image {
    width: 100px;
    height: 100px;
    margin-right: 0.3rem;
    margin-left: 5.5rem;
    flex-shrink: 0;

    img {
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    }
  }

  .phone-show-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .phone-show-venue {
      width: 10rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .phone-show-date {
      font-size: 1.6rem;
      font-weight: bold;
    }
    .phone-show-context {
      position: relative;
      left: -7px;
    }
  }
}
