main.with-player {
  margin-bottom: 150px;
}
footer.with-player {
  display: none;
}

.audio-player {
  position: fixed;
  bottom: -100px;
  width: 100%;
  background-color: $header_gray;
  z-index: 100;
  opacity: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);

  &.visible {
    animation: slideUp 0.3s ease-in-out forwards;
  }

  a {
    text-decoration: none;
    color: var(--bulma-text);

    &:hover {
      text-decoration: underline;
    }
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .top-row {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0.2rem;
    padding-left: 0.9rem;
    padding-right: 0.5rem;

    .left-half {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }

    .right-half {
      flex: 0;
    }
  }

  .track-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .track-info {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .controls {
    display: flex;
    justify-content: right;
    padding-top: 0.3rem;
    gap: 1.2rem;

    button {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      margin: 0 0.6rem;

      &:hover {
        color: #03bbf2 !important;
      }

      &:focus {
        outline: none;
      }

      .play-icon {
        position: relative;
        left: 3px;
        font-size: 1.8rem;
      }
    }

    .scrub-btn {
      position: relative;

      span {
        position: absolute;
        font-size: 0.65rem;
        font-weight: bold;
        top: 21px;
      }
    }

    .scrub-back span {
      right: 10px;
    }

    .scrub-forward span {
      right: 12px;
    }

    .play-pause-btn {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #03bbf2;

      &:hover {
        color: white !important;
      }
    }
  }

  .bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: 100%;
    height: 70px;
    margin-bottom: 0.5rem;

    .elapsed {
      margin-right: 0.5rem;
      min-width: 2rem;
      text-align: left;
    }
    .remaining {
      margin-left: 0.5rem;
      min-width: 2rem;
      text-align: right;
    }

    .scrubber-bar {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-size: 100% 100%; /* Stretches waveform image across the whole bar */
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; /* Full width, we'll handle progress with the background */
      background: linear-gradient(to right, #03bbf2 0%, #03bbf2 0%, transparent 0%); /* Dynamically update this gradient */
      mask-size: 100% 100%; /* Ensure the mask covers the entire progress bar */
      mask-position: 0 0;
      mask-repeat: no-repeat;

      /* WebKit Browsers */
      -webkit-mask-size: 100% 100%;
      -webkit-mask-position: 0 0;
      -webkit-mask-repeat: no-repeat;
    }
  }
}

.active-track {
  animation: pulse 3s infinite ease-in-out;
  border: 1px solid #03bbf2;
}

@media (max-width: 1023px) {
  .scrub-btn {
    display: none !important;
  }
  .bottom-row {
    height: 30px !important;
    margin-top: 5px !important;
  }
  .track-title {
    font-size: 1.2rem !important;
  }
  main.with-player {
    margin-bottom: 110px;
  }
}

@media (max-width: 767px) {
  .venue-location {
    display: none !important;
  }
  .controls {
    gap: 0 !important;
  }
}

@keyframes pulse {
  0% {
    background-color: $bg_gray;
    border-color: $bg_gray;
  }
  50% {
    background-color: #03bbf2;
    border-color: #03bbf2;

  }
  100% {
    background-color: $bg_gray;
    border-color: $bg_gray;
  }
}

@keyframes slideUp {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
