@import "~@fontsource/marck-script/400.css";
@import "~@fontsource/open-sans-condensed/300.css";
@import "~@fontsource/open-sans-condensed/700.css";
@import '~mapbox-gl/dist/mapbox-gl.css';

@import "bulma";

$bg_gray: #f2f3f5;
$header_gray: #c7c8ca;
$subheader_gray: #d9dbdc;
$google-blue: #5385ed;

@import "./content.css.scss";
@import "./pagination.css.scss";


body {
  font-family: "Open Sans Condensed", sans-serif;
  padding-top: 5rem;
  background-color: $bg_gray;
}

// Bulma .content overrides
.content {
  hr {
    border: 1px solid $header_gray; /* Bulma's default light gray color */
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h3 + h3,
  h3 ~ h3 {
    margin-top: 2rem;
  }
}

// Common components
.notification {
  margin: 0 1rem 1rem 1rem;
}
.section {
  padding-top: 0 !important;
}

//Navbar
.navbar {
  background-color: $header_gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .navbar-brand {
    img {
      border-radius: var(--bulma-radius);
    }
  }
}

// Static pages
.api-command {
  margin: 0.5rem 0;
  display: block;
  border-radius: 0.25rem;
  border: 1px dashed #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.api-inline {
  margin: 0.5rem;
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px dashed #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
}
.api-doc {
  display: block;
  margin: 0 0 2rem 1rem;
}

// OAuth
.external-login-container {
  margin-top: 15px;

  .external-login-btn {
    font-size: 1.5rem;
    width: 50%;
    margin-top: 15px;
    justify-content: left;
    padding-left: 130px;
  }
  .login-logo {
    background-color: white;
    border-radius: 3px;
    width: 28px;
    height: 28px;
    position: relative;
    left: -10px;
    padding: 3px;

    img {
      position: relative;
      top: -6px;
    }
  }
  .google-btn {
    color: white !important;
    background-color: $google-blue;
  }
}
