.sidebar-content {
  a {
    color: $text_gray;
    text-decoration: none;
  }
  a:hover {
    color: $text_gray;
    text-decoration: underline;
  }
  .show-date {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .show-venue {
    font-size: 1.2em;
    line-height: 1.2rem;
  }
  .show-location {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .show-duration {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .taper-notes:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
