.sidebar {
  background-color: $header_gray;
  padding: 1rem;
  flex: 0 0 16rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  max-height: fit-content;

  .sidebar-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .sidebar-detail {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  .sidebar-content {
    a {
      color: $text_gray;
      text-decoration: none;
    }
    a:hover {
      color: $text_gray;
      text-decoration: underline;
    }
    .show-date {
      font-size: 1.7em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .show-venue {
      font-size: 1.2em;
      line-height: 1.7rem;
    }
    .show-location {
      font-size: 1.1em;
      line-height: 2rem;
      margin-bottom: 10px;
    }
    .show-duration {
      font-size: 1.1em;
      margin-bottom: 10px;
    }
    .taper-notes:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


