.custom-tooltip {
  max-width: 25rem;
  white-space: normal;
  padding: 1rem;
  text-align: left;
  z-index: 95;
  font-size: 1.1rem !important;
  line-height: 1.5rem !important;
  border-radius: var(--bulma-radius);
  background-color: $text-gray !important;
  opacity: 0.9 !important;;
  font-weight: normal;
}
