/*
 *= require_self
 *= require twitter/bootstrap
 *= require jquery.ui.slider
 *= require jquery.ui.datepicker
 *= require_tree .
 */

$text_gray: #6d6f71;
$highlight: #7eb8c7;
$emphasis: #000;
$alert: #2a2a2a;
$background_gray: #e7e7e8;
$global_nav_gray: #cdcfd0;
$sub_nav_gray: #d9dbdc;

.btn {
  margin-bottom: 10px !important;
}

* {
  font-family: 'Archivo Narrow', sans-serif !important;
}
body {
  background-color: $background_gray !important;
  
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: $text_gray !important;
}
a:hover {
  text-decoration: underline;
}

p.large {
  font-size: 18px;
}

#error_explanation {
  background-color: #f2c4b5 !important;
}

.track_tag {
  float: left;
  margin-top: -2px;
  font-size: 10px !important;
  margin-right: 10px;
}

.show_tag_container {
  float: right;
  margin-top: 0px;
  width: 30px;
}
.show_tag {
  float: right;
  font-size: 10px !important;
}

/******************************/

#home_msg {
  display: inline;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  background-color: #f9ffc8;
  border: #998f4a 1px solid;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
}

/******************************/

#scrubber.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 14px !important;
  margin-left: 57px !important;
  width: 266px !important;
  border-color: #333 !important;
}
#scrubber .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#scrubber .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

/******************************/

#volume_slider.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 6px !important;
  margin-left: 50px !important;
  width: 90px !important;
  border-color: #333 !important;
}
#volume_slider .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px !important;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#volume_slider .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

/******************************/

.ui-datepicker { 
  margin-top: 0px !important;
}
#google_map {
  width: 100%;
  height: 600px;
//  font-family: 'Rambla', sans-serif;
}
#google_map a {
  color: black !important;
}
#google_map label {
  width: auto;
  display:inline;
}
#google_map img {
  max-width: none;
}
#google_map h1 {
  font-size: 18px;
  line-height: 20px;
}
#google_map h2 {
  margin-top: -8px;
  font-size: 16px;
  line-height: 16px;
}
#google_map h3 {
  margin-top: -10px;
  font-size: 14px;
}
#google_map ul {
  margin-top: -20px;
  font-size: 15px;
}
#map_date_start {
  width: 90px;
}
#map_date_stop {
  width: 90px;
}

/******************************/

.likes_large a.liked {
  background-position: -20px 0 !important;
}
.likes_small a.liked {
  background-position: -16px 0 !important;
}
.likes_large a {
  cursor: pointer;
  float: left;
  width: 20px;
  height: 20px;
  text-decoration: none;
  background: url('icons-heart.png');
  margin-top: 21px;
  margin-right: 8px;
  margin-bottom: 0px;
//  border: 1px solid black;
}
.likes_large a:hover {
  cursor: pointer;
  background-position: -40px 0 !important;
  text-decoration: none !important;
}
.likes_large span {
  float: left;
  line-height: 66px;
  color: #791419;
  font-size: 24px;
  font-family: 'Nothing You Could Do', cursive !important;
}
#player_likes_container {
  margin: 0 auto;
//  border: 1px solid red;
  text-align: center;
  display: inline-block;
  height: 40px;
}
#player_likes_container .likes_large a {
  margin-top: 10px;
}
#player_likes_container .likes_large span {
  line-height: 44px;
}
.likes_small {
  float: right;
  width: 60px;
  height: 16px;
  margin-top: 0px;
  margin-left: 10px;
  line-height: 14px;
  text-align: left;
//  border: 1px solid red;
  overflow: hidden;
}
.likes_small a {
  cursor: pointer;
  float: left;
  width: 16px;
  height: 16px;
  text-decoration: none;
  background: url('icons-heart-small.png');
  margin-right: 5px;
//  border: 1px solid black;
}
.likes_small a:hover {
  cursor: pointer;
  background-position: -32px 0 !important;
  text-decoration: none !important;
}
.likes_small span {
  float: left;
  line-height: 16px;
  color: #5f1014;
  font-size: 15px;
  font-family: 'Nothing You Could Do', cursive !important;
}

.spinner_likes_small {
  left: -15px;
  top: 21px;
}
.spinner_likes_large {
  left: 162px;
  top: 30px;
}
.spinner_likes_title {
  left: 54px;
  top: 20px;
}

/******************************/

#page_header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 20;
}
#header_content_container {
  margin: 0 auto;
  width: 940px;
}
#player_container {
  height: 90px;
  background-color: #e6e7e8;
  padding: 10px;
  vertical-align: middle;
//  border: 1px solid green;
}
#logo {
  position: fixed;
  height: 90px;
  width: 90px;
  margin-top: -5px;
  margin-left: -2px;
}
#logo img {
  border: 1px solid black;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 4px 4px 10px #333;
  -webkit-box-shadow: 4px 4px 10px #333;
  box-shadow: 4px 4px 10px #333;
  width: 100%;
  height: 100%;
}
#ajax_overlay {
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 350px;
//  bottom: 0%;
  left: 0%;
  right: 0%;
  background: transparent;
  z-index: 99;
}
#header_container {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 160px;
  height: 70px;
//  border: 1px solid red;
}
#header {
  margin: 0 auto;
  width: 894px;
  height: 50px;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  padding: 0px 26px 5px 20px;
  margin-top: -3px;
  vertical-align: bottom;
  background: #878787;
  text-align: center;
}
#content_box > h1 {
  margin-top: -5px !important;
  font-size: 28px;
  line-height: 30px;
  white-space: nowrap;
}
#content_box > h2 {
  font-size: 22px;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 5px !important;
}
#content_box > h3 {
  font-size: 20px;
  margin-top: -8px !important;
  margin-bottom: 20px;
}
#clear_playlist {
  position: absolute;
  margin-top: 10px;
}

/************************/

#global_nav_container {
  position: fixed;
  top: 110px;
  width: 100%;
  z-index: 20;
//  border: 1px solid red;
}
#global_nav {
  width: 940px;
  margin: 0 auto;
  font-size: 14px;
  height: 30px;
  vertical-align: middle;
  padding-top: 6px;
  background-color: $global_nav_gray;
  border-bottom: 2px solid $background_gray;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#global_nav .link_container {
  text-align: center;
  width: 60px;
  position: fixed;  
  margin-top: 5px;
  height: 14px;
  line-height: 12px;
//  border: 1px solid green;
}
.nav_indicator {
  text-align: center;
  position: fixed;
  z-index: 20;
  margin-top: 20px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $background_gray;
}
.nav_indicator2 {
  text-align: center;
  position: fixed;
  z-index: 21;
  margin-top: 23px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $sub_nav_gray;
}
#global_nav a {
  color: #6e7073;
}
#global_nav .active {
  font-weight: bold;
  color: black !important;
}
#sub_nav {
  margin: 0 auto;
  width: 940px;
  background-color: $sub_nav_gray;
  height: 21px;
  text-align: center;
  background-color: $sub_nav_gray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
//  border-bottom: 10px solid $background_gray;
//  border-bottom: 1px solid black;
}
#sub_nav a {
  color: #6e7073;
  margin-top: -5px;
  margin-left: 20px;
}
#sub_nav a.active {
  font-weight: bold;
  color: black !important;
}
#content_buffer {
  margin: 0 auto;
  width: 940px;
  height: 15px;
  background-color: $background_gray;
}

#content {
  margin: 0 auto;
  width: 900px;
  padding: 185px 20px 40px 20px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e6e7e8;
  min-height: 450px;
}
#title_box {
  position: fixed;
  width: 200px;
//  border: 1px solid red;
}
#title_box h1 {
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: $text_gray;
}
#title_box h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 18px !important;
  font-size: 18px;
  font-weight: normal;
  color: $text_gray;
//  border: 1px solid black;
}
#title_box h3 {
  line-height: 16px;
  font-size: 16px;
  font-weight: normal;
  color: $text_gray;
//  margin-bottom: -3px;
}
#content_box {
  float: right;
  width: 680px;
  padding-top: 5px;
//  border: 1px solid green;
}
#content_box > h1 {
  margin-top: 0px;
  line-height: 30px;
  font-size: 22px;
  color: $text_gray;
  border-bottom: 1px solid gray;
}
#content_box > h2 {
  margin-top: 20px;
  font-size: 24px;
}
#content_box > h4 {
  margin-left: 60px;
}
#content_box > h4 > a{
  color: #5b6699;
}
.item_list {
//  color: #333;
  margin-left: 0px;
  margin-top: -5px;
  margin-bottom: 20px;
  list-style-type: none;
}
.item_list > li {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 20px 0px 20px;
  height: 23px;
}
.item_list > li:hover {
  cursor: pointer;
  background-color: #fff;
}
.item_list > li > .drag_arrows_vertical {
  visibility: hidden;
  float: left;
  width: 15px;
  margin-top: -2px;
//  border: 1px solid red;
}
.item_list > li h2 {
  line-height: 14px;
  height: 16px;
  overflow: hidden;
  font-size: 15px;
  float: left;
  font-weight: normal;
  width: 120px;
  margin-top: 0px;
  white-space: nowrap;
  color: $text_gray !important;
//  border: 1px solid black;
}
.item_list > li h2.position_num {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: right;
  width: 20px;
  margin-right: 10px;
//  border: 1px solid red;
}
.item_list > li h2.wide {
  width: 220px;
}
.item_list > li h2.wider {
  width: 280px;
//  border: 1px solid red;
}
.item_list > li h3 {
  margin-top: 0px;
  font-size: 15px;
  line-height: 15px;
  float: right;
  font-weight: normal;
  width: 50px;
  text-align: right;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  color: $text_gray !important;
//  border: 1px solid red;
}
.item_list > li h3.alt {
  width: 150px;

}
.item_list > li h3.wide {
  width: 250px;
}
.item_list > li h3.alt a {
//  color: $text_gray;
  line-height: 10px;
}
.item_list > li h4 {
  font-size: 15px;
  line-height: 15px;
  float: left;
  width: 280px;
  margin-top: 0px;
  overflow: hidden;
  color: $text_gray !important;
  font-weight: normal;
  margin-left: 10px;
//  border: 1px solid black;
  white-space: nowrap;
}
.item_list > li h4.narrow {
  width: 180px;
}
.item_list > li h5 {
  float: left;
  font-size: 15px;
  line-height: 15px;
  width: 150px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-top: 0px;
//  border: 1px solid blue;
  font-weight: normal;
  color: $text_gray !important;
}
.item_list > li h5.narrow {
  width: 100px;
}
.item_list > li .btn_context {
  visibility: hidden;
  float: right;
  width: 40px;
//  height: 14px;
  margin-left: 15px;
  line-height: 10px;
  text-align: left;
}
.btn_context {
  cursor: pointer;
}
.btn_context:hover {
  cursor: pointer;
}
.btn-round {
  margin-top: -1px;
  height: 8px !important;
  width: 10px !important;
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important;
}
.btn-sort {
  height: 18px !important;
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important;
}

.dropdown-menu {
 margin-top: -10px !important;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none !important;
  background-color: $highlight !important;
  color: white !important;
}

/************************/



#map_search_container {
  margin: 0 auto;
  text-align: center;
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
//  font-family: 'Rambla', sans-serif;
}
#map_search_term {
  margin-top: 5px;
  width: 140px;
}
#map_search_distance {
  width: 40px;
}
#map_search_submit {
  width: 150px;
  font-weight: bold;
//  font-family: 'Rambla', sans-serif;
  margin-bottom: 20px;
}

/************************/

.paging {
  margin: 0 auto;
  text-align: right;
  padding-right: 50px;
  margin-top: 8px;
}
.pagination {
  float: right;
}
.page_title {
  color: $text_gray;
  float: right;
  padding-top: 25px;
  margin-right: 10px;
  font-size: 18px;
}
.filter_menu {
  display: inline;
  width: 120px;
  height: 20px;
  margin-top: 7px;
}

#userbox {
  font-family: sans-serif;
  float: right;
  margin-top: -7px;
}
#userbox .btn-group .btn {
  font-size: 16px !important;
  box-shadow: none !important;
  color: $emphasis !important;
  border: none !important;
//  border: 1px solid red !important;
}
#player_feedback {
  width: 50px;
  margin-top: 52px;
  float: right;
  margin-right: 5px;
  text-align: center;
  background-color: #edf2b5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
//  border: 1px solid red;
}
.done {
  background-color: #b7f2af !important;
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
}
#player_title_container {
  padding: 0px;
  position: fixed;
  margin-top: -5px;
  margin-left: 140px;
  width: 410px;
  height: 40px;
  text-align: center;
//  border: 1px solid black;
}
#player_title {
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  font-size: 28px;
//  border: 1px solid black;
}
#player_title.long_title {
  font-size: 18px;
}
#player_detail {
  padding: 0px;
  position: fixed;
  margin-top: 64px;
  margin-left: 140px;
  width: 400px;
  text-align: center;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
//  border: 1px solid black;
color: #8fbedb;
}
#player_detail a {
  color: #333;
}
#player_controls {
  position: fixed;
  margin-left: 640px;
  margin-top: 20px;
}
#player_controls > div {
  float: left;
  margin-right: 5px;
}
.playing {
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
  background-position: -75px 0 !important;
}
.playlist_active {
  border: 1px solid red !important;
  background-color: #ccc !important;
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
}
.active_track {
  -webkit-animation: pulsate-green 1.5s infinite alternate linear !important; 
  -moz-animation: pulsate-green 1.5s infinite alternate linear !important;
}
.highlighted_track {
  -webkit-animation: pulsate-blue 1.5s infinite alternate linear !important; 
  -moz-animation: pulsate-blue 1.5s infinite alternate linear !important;
}
@-webkit-keyframes pulsate-green {
    0%   { background: #e9ffe3; } 
    100%  { background: #b4ffac; }
}
@-moz-keyframes pulstate-green {
  0%   { background: #e9ffe3; } 
  100%  { background: #b4ffac; }
}
@-webkit-keyframes pulsate-blue {
    0%   { background: #eafffd; } 
    100%  { background: #b2ecff; }
}
@-moz-keyframes pulstate-blue {
  0%   { background: #e9ffe3; } 
  100%  { background: #b4ffac; }
}

#scrubber_controls {
  position: fixed;
  width: 380px;
  height: 36px;
  margin-top: 28px;
  margin-left: 150px;
//  border: 1px solid black;
}
#time_elapsed {
  margin-left: 26px;
  width: 30px;
  font-size: 12px;
  line-height: 36px;
  float: left;
  text-align: left;
  padding-right: 5px;
//  border: 1px solid black;
}
#time_remaining {
  width: 48px;
  font-size: 12px;
  line-height: 36px;
  float: right;
  text-align: left;
//  border: 1px solid black;
}
.scrubbing {
  color: #1a80f6;
}
#player_menu {
  position: fixed;
  margin-top: 31px;
  margin-left: 135px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#player_menu * {
  box-shadow: none;
}
#randomize_checkbox {
  margin-bottom: 15px;
  vertical-align: top;
}
#playlist_button {
  position: fixed;
  margin-top: 31px;
  margin-left: 525px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#playlist_button * {
  box-shadow: none;
}
#volume_icon {
  padding: 0px 0px 0px 0px !important;
  float: left;
  margin-left: 18px;
  margin-top: 0px;
  width: 22px !important;
  height: 21px;
  cursor: pointer;
  background: url('icons-volume.png');
//  border: 1px solid black;
}
.muted {
  background-position: -22px 0 !important;
}
#player_menu .nolink {
  padding-left: 22px;
}
#player_menu .volume_li {
  height: 30px;
  margin-top: 10px;
}
#playpause {
  width: 75px;
  height: 75px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-top: -16px;
  background: white url('icons-playpause.png');
}
#next, #previous {
  width: 45px;
  height: 45px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-top: 0px;
}
#previous {
  background: white url('icon-previous.png');
  margin-right: 2px;
}
#next {
  background: white url('icon-next.png');
  margin-left: 2px;
}
.playlist_title {
  float: left;
  border: 1px solid red;
}
.playlist {
  margin-top: 60px;
}

.alias_for {
  font-size: 12px;
  font-style: italic;
}
#share_url {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ccc;
  border: 1px solid #333;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#share_track_tips {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #333;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}
#feedback {
  position: fixed;
  left: 0;
  margin: 5px;
  z-index: 200;
  width: 300px;
//  font-family: 'Rambla', sans-serif;
  font-size: 16px;
  color: #333;
}
.feedback_notice {
  background-color: #d0f7d0;
  border: 2px solid #649976;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.feedback_alert {
  background-color: #ffc7c6;
  border: 2px solid #994c65;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.instructions {
  background-color: #eee;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation {
  background-color: #d61b2d;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation h2 {
  font-size: 17px;
  line-height: 20px;
}
#dont_have_account {
  padding: 10px;
  background: #ccc;
  border: 1px solid #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
}

.field_label {
  font-size: 18px;
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
}
.field_label_alt {
  margin-top: -1px;
}
.field_content {
  float: left;
}
.field_note {
  color: #777;
  font-style: italic;
  font-size: 12px;
  float: left;
  width: 350px;
  text-align: left;
  padding-left: 10px;
  padding-top: 6px;
}
.strong {
  font-size: 18px;
  font-weight: bold;
}
#download_modal_body {
  text-align: center;
  padding: 30px;
}
.note {
  font-size: 12px;
  font-style: italic;
}
#album_url {
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: bold;
}
#album_timeout {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: none;
  background-color: #f4b5b5;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.highlight {
  background-color: #fff938;
}
.optional {
  color: #777;
  font-size: 11px;
}
.small_input {
  width: 50px !important;
  padding: 3px !important;
  height: 18px !important;
  font-size: 12px !important;
  color: #777 !important;
}
.incomplete_show {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffcfd3;
  border: 1px solid black;
  color: $alert;
//  font-family: 'Rambla', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 5px;
}
.incomplete_show a {
  color: #ccc;
  text-decoration: underline;
}
.incomplete_show a:hover {
  color: #ccc;
}
.admin_notes {
  font-size: 14px !important;
  font-style: italic;
}
.callout_box {
//  font-family: 'Rambla';
  font-size: 16px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid black;
}
.btn_invisible {
  border: none !important;
  background: none !important;
  box-shadow: none;
}
#load_playlist_list {
  text-align: left;
}

.char_link {
  margin-left: 10px;
}

/************************/

#footer {
  width: 940px;
  background-color: $sub_nav_gray;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}
#footer a {
  margin-right: 20px;
}

#search_box {
  margin-right: 200px;
  margin-left: -180px;
  margin-top: -1px;
  float: right;
  height: 20px;
  width: 110px;
  border: 1px solid $text_gray;
  border-radius: 5px;
  text-align: left;
  padding: none;
}
#search_term {
  background: transparent;
  margin-top: 1px;
  border: none;
  width: 80px;
  height: 18px !important;
  font-size: 12px;
  padding: 0px !important;
}
#search_term:focus {
  border: none;
  box-shadow: none;
}
#search_box .icon {
  margin-top: -2px;
  margin-left: 5px;
}
