/*
 *= require_self
 *= require twitter/bootstrap
 *= require jquery.ui.slider
 *= require jquery.ui.datepicker
 *= require_tree .
 */

body {
  background-color: #333 !important;
//  background: url('fishman-donut.png') repeat fixed;
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.track_tag {
  float: left;
  margin-top: -2px;
  font-size: 10px !important;
  margin-right: 10px;
}

.show_tag_container {
  float: right;
  margin-top: 10px;
  width: 40px;
}
.show_tag {
  float: right;
  font-size: 10px !important;
}

/******************************/

#home_msg {
  display: inline;
  font-family: 'Shanti', sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  background-color: #f9ffc8;
  border: #998f4a 1px solid;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
}
#home_msg_container {
  text-align: center;
  margin-bottom: -15px;
}
#global_nav {
  height: 30px;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
  vertical-align: middle;
  background: url('brushed-metal2.jpg');
  text-align: center;
  padding-top: 5px;
}
#global_nav .badge {
  margin-top: -5px;
  margin-left: 20px;
}
#global_nav .badge:hover {
  background-color: #acdbea;
}
#global_nav .active {
  background-color: #609eea;
}

/******************************/

#scrubber.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 14px !important;
  margin-left: 57px !important;
  width: 266px !important;
  border-color: #333 !important;
}
#scrubber .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#scrubber .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

/******************************/

#volume_slider.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 6px !important;
  margin-left: 50px !important;
  width: 90px !important;
  border-color: #333 !important;
}
#volume_slider .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px !important;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#volume_slider .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

/******************************/

#google_map {
  width: 100%;
  height: 600px;
  font-family: 'Rambla', sans-serif;
}
#google_map label {
  width: auto;
  display:inline;
}
#google_map img {
  max-width: none;
}
#google_map h1 {
  font-size: 17px;
  line-height: 20px;
}
#google_map h2 {
  margin-top: -8px;
  font-size: 14px;
  line-height: 14px;
}
#google_map h3 {
  margin-top: -10px;
  font-size: 13px;
}
#google_map ul {
  margin-top: -20px;
  font-size: 13px;
}
#map_date_start {
  width: 90px;
}
#map_date_stop {
  width: 90px;
}

/******************************/

.likes_large a.liked {
  background-position: -20px 0 !important;
}
.likes_small a.liked {
  background-position: -16px 0 !important;
}
.likes_large a {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  text-decoration: none;
  background: url('icons-heart.png');
  margin-top: 21px;
  margin-left: 8px;
//  border: 1px solid black;
}
.likes_large a:hover {
  cursor: pointer;
  background-position: -40px 0 !important;
  text-decoration: none !important;
}
.likes_large span {
  float: right;
  line-height: 66px;
  color: #791419;
  font-size: 24px;
  font-family: 'Nothing You Could Do', cursive;
}
#player_likes_container {
  margin: 0 auto;
//  border: 1px solid red;
  text-align: center;
  display: inline-block;
  height: 40px;
}
#player_likes_container .likes_large a {
  margin-top: 10px;
}
#player_likes_container .likes_large span {
  line-height: 44px;
}
.likes_small {
  float: right;
  width: 70px;
  height: 20px;
  margin-top: 11px;
  margin-left: 10px;
  line-height: 40px;
  text-align: left;
//  border: 1px solid red;
}
.likes_small a {
  cursor: pointer;
  float: left;
  width: 16px;
  height: 16px;
  text-decoration: none;
  background: url('icons-heart-small.png');
  margin-right: 5px;
//  border: 1px solid black;
}
.likes_small a:hover {
  cursor: pointer;
  background-position: -32px 0 !important;
  text-decoration: none !important;
}
.likes_small span {
  float: left;
  line-height: 16px;
  color: #5f1014;
  font-size: 15px;
  font-family: 'Nothing You Could Do', cursive;
}

.spinner_likes_small {
  left: -15px;
  top: 21px;
}
.spinner_likes_large {
  left: 162px;
  top: 30px;
}
.spinner_likes_title {
  left: 54px;
  top: 20px;
}

/******************************/

#page_header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 20;
}
#header_content_container {
  margin: 0 auto;
  width: 940px;
}
#player_container {
  height: 100px;
//  border: 1px solid #555;
  background-color: #5ab1ff;
  padding: 10px;
  vertical-align: middle;
  background: url('brushed-metal2.jpg');
//  border: 1px solid green;
}
#logo {
  position: fixed;
  height: 100px;
  width: 100px;
  margin-top: -5px;
  margin-left: -2px;
}
#logo img {
  border: 1px solid black;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 4px 4px 10px #333;
  -webkit-box-shadow: 4px 4px 10px #333;
  box-shadow: 4px 4px 10px #333;
  width: 100%;
  height: 100%;
}
#ajax_overlay {
  padding-top: 120px;
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 120px;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: transparent;
  z-index: 99;
//  opacity: 0.8;
}
#header_container {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 125px;
  height: 70px;
//  border: 1px solid red;
}
#header {
  margin: 0 auto;
  width: 894px;
  height: 50px;
//  -webkit-border-top-left-radius: 8px;
//  -moz-border-radius-topleft: 8px;
//  border-top-left-radius: 8px;
//  -webkit-border-top-right-radius: 8px;
//  -moz-border-radius-topright: 8px;
//  border-top-right-radius: 8px;
  border-left: 2px solid #555;
//  border-top: 1px solid #555;
  border-right: 2px solid #555;
  padding: 0px 26px 5px 20px;
  margin-top: -3px;
  vertical-align: bottom;
//  background: #ddd url('brushed-metal.jpg');
  background: #878787;
  text-align: center;
//  -moz-box-shadow: 0 6px 10px -2px #999;
//  -webkit-box-shadow: 0 6px 10px -2px #999;
//  box-shadow: 0 6px 10px -2px #999;
//  border: 1px solid red;
}
#header h1 {
  float: left;
  font-family: 'Rambla', sans-serif;
  font-size: 28px;
  line-height: 40px;
  margin-left: 6px;
  font-weight: 700;
  white-space: nowrap;
}
#header h1 a {
  color: #333;
}
#header h2 {
  float: left;
  font-family: 'Rambla', sans-serif;
  font-size: 22px;
  line-height: 45px;
  margin-left: 16px;
  font-weight: 400;
}
#header h2.floating {
  margin-left: 220px;
}
#header h2.small {
  font-size: 16px;
  line-height: 48px;
}
.show_duration {
  float: right;
  font-family: 'Rambla', sans-serif;
  margin-top: 16px;
  margin-right: -5px;
  margin-left: 24px;
  font-size: 15px;
  background-color: #666;
  color: white;
  border-radius: 5px;
  padding: 5px;
  line-height: 15px;
  font-weight: 400;
}
.show_duration_small {
  float: right;
  font-family: 'Rambla', sans-serif;
  margin-top: 8px;
  margin-right: -10px;
  font-size: 12px;
  background-color: #666;
  color: white;
  border-radius: 5px;
  padding: 5px;
  line-height: 14px;
  font-weight: 400;
  width: 80px;
}
#header h2 a {
  color: #333;
}
#header h3 {
  float: right;
  font-family: 'Rambla', sans-serif;
  font-size: 23px;
  line-height: 45px;
  margin-left: 16px;
  font-weight: 400;
}
.sort_filter {
  float: right;
  margin-top: 13px;
  margin-right: 16px;
  text-align: left;
}
h2.for_content {
  float: left;
}
.header_filter {
  margin-right: 200px;
  margin-top: 10px;
  float: right;
  text-align: left;
//  border: 1px solid red;
}
#header_filter li {
  text-align: left !important;
}
#header .likes_large {
  float: right;
  width: 150px;
  height: 50px;
  text-align: right;
}
#header .btn_context {
  visibility: hidden;
  position: absolute;
  margin-top: 13px;
  margin-left: 670px;
  text-align: left;
}
#header .content_tabs {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
#clear_playlist {
  position: absolute;
  margin-top: 10px;
}

.like_tabs {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

/************************/

#content {
  margin: 0 auto;
  width: 880px;
  padding: 190px 20px 40px 40px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  border-bottom: 1px solid #555;
  background-color: #fff;
}
#content.noheader {
  padding-top: 130px !important;
}
#content > h1 {
  margin-top: 20px;
  font-size: 37px;
  font-family: 'Nothing You Could Do', cursive;
}
#content > h2 {
  margin-top: 20px;
  font-size: 28px;
  font-family: 'Rambla', sans-serif;
}
#content > h4 {
  margin-left: 60px;
}
#content > h4 > a{
  color: #5b6699;
}
.item_list {
  color: #333;
  margin-left: 9px;
  margin-top: 12px;
  margin-bottom: 40px;
  list-style-type: none;
}
.item_list > li {
  height: 36px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
}
.item_list > li:nth-child(2n+1) {
  background-color: #f8f8f8;
}
.item_list > li:hover {
  cursor: pointer;
  background-color: #fffbd0;
}
.item_list > li > .drag_arrows_vertical {
  visibility: hidden;
  float: left;
  width: 15px;
  margin-left: -30px;
  margin-top: 5px;
//  border: 1px solid red;
}
.item_list > li h2 {
  font-family: 'Shanti', sans-serif;
  line-height: 16px;
  font-size: 24px;
  float: left;
  font-weight: normal;
  width: 115px;
//  border: 1px solid black;
}
.item_list > li h2.alt {
  font-size: 20px;
}
.item_list > li h2.position_num {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  width: 50px;
  margin-right: 20px;
  line-height: 18px;
  margin-left: -30px;
//  border: 1px solid red;
}
.item_list > li h2.wide {
  width: 440px;
}
.item_list > li h2.wider {
  width: 550px;
//  border: 1px solid red;
}
.item_list > li h2.medium_width {
  width: 380px;
}
.item_list > li h2.extra_width {
  width: 150px;
}
.item_list > li h3 {
  font-family: 'Shanti', sans-serif;
  line-height: 16px;
  font-size: 19px;
  float: right;
  color: #555;
  font-weight: normal;
  width: 60px;
  text-align: right;
//  border: 1px solid red;
}
.item_list > li h3.alt {
  width: 200px;
}
.item_list > li h3.alt a {
  color: #555;
}
.item_list > li h4 {
  float: left;
  width: 300px;
  height: 20px;
  overflow: hidden;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 17px;
  color: #777;
  font-weight: normal;
  margin-left: 10px;
//  border: 1px solid black;
}
.item_list > li h4 a {
  color: #777;
}
.item_list > li h5 {
  float: left;
  width: 170px;
  height: 20px;
  overflow: hidden;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
//    border: 1px solid black;
}
.item_list > li h5 a {
  color: #999;
}
.item_list > li h5.large {
  font-size: 18px;
}
.item_list > li h6 {
  position: absolute;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 15px;
  font-weight: normal;
  margin-left: 680px;
}
.item_list > li h6 a {
  color: #999;
}
.item_list > li .btn_context {
  visibility: hidden;
  float: right;
  width: 70px;
  height: 20px;
  margin-left: 20px;
  line-height: 40px;
  text-align: left;
}
.btn_context {
  cursor: pointer;
}
.btn_context:hover {
  cursor: pointer;
}
.btn-round {
  -moz-border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  border-radius: 30px !important;
}

/************************/

#footer_container {
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer_container p {
  font-size: 12px;
}

#search_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_container input {
  margin-top: 10px;
}
#search_submit {
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_results {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_results p {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
#search_results h3 {
  margin-left: 18px;
}
#map_search_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #eee;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#map_search_term {
  margin-top: 10px;
  width: 200px;
}
#map_search_distance {
  margin-top: 10px;
  width: 40px;
}
#map_search_submit {
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}

/************************/

#userbox {
  font-family: sans-serif;
  float: right;
  margin-right: 20px;
  margin-top: -7px;
}
#player_feedback {
  width: 50px;
  margin-top: 52px;
  float: right;
  margin-right: 5px;
  text-align: center;
  background-color: #edf2b5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
//  border: 1px solid red;
}
.done {
  background-color: #b7f2af !important;
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
}
#player_title_container {
  padding: 0px;
  position: fixed;
  margin-top: -5px;
  margin-left: 140px;
  width: 410px;
  height: 40px;
  text-align: center;
//  border: 1px solid black;
}
#player_title {
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
//  border: 1px solid black;
}
#player_title.long_title {
  font-size: 18px;
}
#player_detail {
  padding: 0px;
  position: fixed;
  margin-top: 54px;
  margin-left: 140px;
  width: 400px;
  text-align: center;
  overflow: hidden;
  font-family: 'Rambla', sans-serif;
  font-size: 13px;
  font-weight: 400;
//  border: 1px solid black;
color: #8fbedb;
}
#player_detail a {
  color: #333;
}
#player_controls {
  position: fixed;
  margin-left: 640px;
  margin-top: 20px;
}
#player_controls > div {
  float: left;
  margin-right: 5px;
}
.playing {
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
  background-position: -85px 0 !important;
}
.playlist_active {
  border: 1px solid red !important;
  background-color: #ccc !important;
  -moz-box-shadow: 0 0 16px #3b995f !important;
  -webkit-box-shadow: 0 0 16px #3b995f !important;
  box-shadow: 0 0 16px #3b995f !important;
}
.active_track {
  -webkit-animation: pulsate-green 1.5s infinite alternate linear !important; 
  -moz-animation: pulsate-green 1.5s infinite alternate linear !important;
}
.highlighted_track {
  -webkit-animation: pulsate-blue 1.5s infinite alternate linear !important; 
  -moz-animation: pulsate-blue 1.5s infinite alternate linear !important;
}
@-webkit-keyframes pulsate-green {
    0%   { background: #e9ffe3; } 
    100%  { background: #b4ffac; }
}
@-moz-keyframes pulstate-green {
  0%   { background: #e9ffe3; } 
  100%  { background: #b4ffac; }
}
@-webkit-keyframes pulsate-blue {
    0%   { background: #eafffd; } 
    100%  { background: #b2ecff; }
}
@-moz-keyframes pulstate-blue {
  0%   { background: #e9ffe3; } 
  100%  { background: #b4ffac; }
}

#scrubber_controls {
  position: fixed;
  width: 380px;
  height: 36px;
  margin-top: 25px;
  margin-left: 150px;
  font-family: 'Rambla', sans-serif;
//  border: 1px solid black;
}
#time_elapsed {
  margin-left: 26px;
  width: 30px;
  font-size: 12px;
  line-height: 36px;
  float: left;
  text-align: left;
  padding-right: 5px;
//  border: 1px solid black;
}
#time_remaining {
  width: 48px;
  font-size: 12px;
  line-height: 36px;
  float: right;
  text-align: left;
//  border: 1px solid black;
}
.scrubbing {
  color: #1a80f6;
}
#player_menu {
  position: fixed;
  margin-top: 28px;
  margin-left: 135px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#player_menu * {
  box-shadow: none;
}
#randomize_checkbox {
  margin-bottom: 15px;
  vertical-align: top;
}
#playlist_button {
  position: fixed;
  margin-top: 28px;
  margin-left: 525px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#playlist_button * {
  box-shadow: none;
}
#search_button {
  position: fixed;
  margin-top: -7px;
  margin-left: 888px;
}
#volume_icon {
  padding: 0px 0px 0px 0px !important;
  float: left;
  margin-left: 18px;
  margin-top: 0px;
  width: 22px !important;
  height: 21px;
  cursor: pointer;
  background: url('icons-volume.png');
//  border: 1px solid black;
}
.muted {
  background-position: -22px 0 !important;
}
#player_menu .nolink {
  padding-left: 22px;
}
#player_menu .volume_li {
  height: 30px;
  margin-top: 10px;
}
#playpause {
  width: 85px;
  height: 85px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-top: -13px;
  background: white url('icons-playpause.png');
}
#next, #previous {
  width: 45px;
  height: 45px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-top: 5px;
}
#previous {
  background: white url('icon-previous.png');
  margin-right: 2px;
}
#next {
  background: white url('icon-next.png');
  margin-left: 2px;
}
.playlist_title {
  float: left;
  border: 1px solid red;
}
.playlist {
  margin-top: 60px;
}

#era1 {
  background-color: #8aadb1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
#era2 {
  background-color: #98bfc5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
#era3 {
  background-color: #aedae2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
.year_list {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.year_list > li {
  color: #333;
  margin: 8px;
  float: left;
  width: 237px;
  height: 36px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 8px 13px 8px 20px;
  background-color: #f8f8f8;
}
.year_list > li > h1 {
  float: right;
  font-size: 36px;
  line-height: 24px;
  text-align: right;
  font-family: 'Rambla', sans-serif;
}
.year_list > li > h2 {
  float: left;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  font-family: 'Rambla', sans-serif;
  color: #999;
  visibility: hidden;
}
.year_list > li:hover {
  cursor: pointer;
  background-color: #fffbd0;
}
.year_list a {
  color: #444;
 }
.year_list a:hover {
  text-decoration: none !important;
}
.alias_for {
  font-size: 12px;
  font-style: italic;
}
#share_url {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ccc;
  border: 1px solid #333;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#share_track_tips {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #333;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}
#footer_container a {
  margin-left: 20px;
  color: #ddd;
}
#feedback {
  position: fixed;
  left: 0;
  margin: 5px;
  z-index: 200;
  width: 300px;
  font-family: 'Rambla', sans-serif;
  font-size: 16px;
  color: #333;
}
.feedback_notice {
  background-color: #d0f7d0;
  border: 2px solid #649976;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.feedback_alert {
  background-color: #ffc7c6;
  border: 2px solid #994c65;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.instructions {
  background-color: #eee;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation {
  background-color: #d61b2d;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation h2 {
  font-size: 17px;
  line-height: 20px;
}
#dont_have_account {
  padding: 10px;
  background: #ccc;
  border: 1px solid #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
}

.field_label {
  font-size: 18px;
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
}
.field_label_alt {
  margin-top: -1px;
}
.field_content {
  float: left;
}
.field_note {
  color: #777;
  font-style: italic;
  font-size: 12px;
  float: left;
  width: 350px;
  text-align: left;
  padding-left: 10px;
  padding-top: 6px;
}
.strong {
  font-size: 18px;
  font-weight: bold;
}
#download_modal_body {
  text-align: center;
  padding: 30px;
}
.note {
  font-size: 12px;
  font-style: italic;
}
#album_url {
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: bold;
}
#album_timeout {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: none;
  background-color: #f4b5b5;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.highlight {
  background-color: #fff938;
}
.optional {
  color: #777;
  font-size: 11px;
}
.small_input {
  width: 70px !important;
  padding: 3px !important;
  height: 20px !important;
  font-size: 11px !important;
  color: #777 !important;
}
.incomplete_show {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ffcfd3;
  border: 1px solid black;
  color: #2a2a2a;
  font-family: 'Rambla', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 5px;
}
.incomplete_show a {
  color: #ccc;
  text-decoration: underline;
}
.incomplete_show a:hover {
  color: #ccc;
}
.admin_notes {
  font-size: 14px !important;
  font-style: italic;
}
.row h2 {
  margin-top: 15px;
  font-size: 30px;
  font-family: 'Rambla';
}
.beta {
  color: #c70204;
  font-weight: bold;
}
.span2-alt {
  width: 90px !important;
}
#empty_playlist_msg {
  margin-top: 30px;
  font-family: 'Rambla';
  font-size: 16px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid black;
}
.btn_invisible {
  border: none !important;
  background: none !important;
  box-shadow: none;
}
#load_playlist_list {
  text-align: left;
}