/*
 *= require_self
 *= require twitter/bootstrap
 *= require jquery.ui.slider
 *= require jquery.ui.datepicker
 *= require_tree .
 */

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

#scrubber.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 14px !important;
  margin-left: 57px !important;
  width: 266px !important;
  border-color: #333 !important;
}
#scrubber .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px !important;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
//  border-radius: 10px !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#scrubber .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

#volume_slider.ui-slider {
  background-image: none !important; //Override jquery UI CSS
  height: 5px !important;
  background-color: #ccc !important;
  cursor: pointer !important;
  position: fixed !important;
  margin-top: 6px !important;
  margin-left: 50px !important;
  width: 90px !important;
  border-color: #333 !important;
}
#volume_slider .ui-slider-handle {
  background-image: none !important; //Override jquery UI CSS
  margin-top: 4px !important;
  margin-left: -4px !important;
  background-color: #333 !important;
  border-color: #333 !important;
//  border-radius: 10px !important;
  width: 5px !important;
  height: 5px !important;
  cursor: pointer !important;
}
#volume_slider .ui-slider-range {
  background-image: none !important;
  background-color: #333 !important;
}

.likes_large a.liked {
  background-position: -20px 0 !important;
}
.likes_small a.liked {
  background-position: -15px 0 !important;
}
.likes_large a {
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  text-decoration: none;
  background: url('icons-heart.png');
  margin-top: 21px;
  margin-left: 8px;
//  border: 1px solid black;
}
.likes_large a:hover {
  cursor: pointer;
  background-position: -40px 0 !important;
  text-decoration: none !important;
}
.likes_large span {
  float: right;
  line-height: 66px;
  color: #791419;
  font-size: 24px;
  font-family: 'Nothing You Could Do', cursive;
}
.likes_small {
  float: left;
  width: 70px;
  height: 20px;
  margin-left: 10px;
  line-height: 40px;
  text-align: left;
}
.likes_small a {
  cursor: pointer;
  float: left;
  width: 15px;
  height: 15px;
  text-decoration: none;
  background: url('icons-heart-small.png');
  margin-top: 13px;
  margin-right: 5px;
//  border: 1px solid black;
}
.likes_small a:hover {
  cursor: pointer;
  background-position: -30px 0;
  text-decoration: none !important;
}
.likes_small span {
  float: left;
  line-height: 42px;
  color: #5f1014;
  font-size: 15px;
  font-family: 'Nothing You Could Do', cursive;
}
#gradient_mask {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 180px;
  z-index: 0;
  background: -webkit-linear-gradient(top, #bababa 0%,#ffffff 100%,#ffffff 100%,#ffffff 100%);
	background: -moz-linear-gradient(top, #bababa 0%,#ffffff 100%,#ffffff 100%,#ffffff 100%);
	background: -o-linear-gradient(top, #bababa 0%,#ffffff 100%,#ffffff 100%,#ffffff 100%);
	background: -ms-linear-gradient(top, #bababa 0%,#ffffff 100%,#ffffff 100%,#ffffff 100%);
	background: linear-gradient(top, #bababa 0%,#ffffff 100%,#ffffff 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
}

#page_header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 20;
}
#player_container {
  margin: 0 auto;
  width: 920px;
  height: 80px;
  margin-top: 6px;
  border-radius: 8px;
  border: 2px solid #555;
  background-color: #5ab1ff;
  padding: 10px;
  vertical-align: middle;
  background: url('brushed-metal2.jpg');
//  border: 1px solid green;
}
#logo {
  position: fixed;
  height: 146px;
  width: 146px;
  margin-top: -34px;
  margin-left: -56px;
}
#logo img {
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 4px 4px 10px #333;
  width: 100%;
  height: 100%;
}
#ajax_overlay {
  padding-top: 120px;
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 120px;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: transparent;
  z-index: 99;
//  opacity: 0.8;
}
#header_container {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 116px;
  height: 70px;
//  border: 1px solid red;
}
#header {
  margin: 0 auto;
  width: 894px;
  height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  padding: 5px 26px 5px 20px;
  margin-top: 3px;
  vertical-align: bottom;
  background: #ddd url('brushed-metal.jpg');
  text-align: center;
//  border: 1px solid red;
}
#header h1 {
  float: left;
  font-family: 'Rambla', sans-serif;
  font-size: 35px;
  line-height: 36px;
  margin-left: 6px;
  font-weight: 700;
}
#header h2 {
  float: left;
  font-family: 'Rambla', sans-serif;
  font-size: 22px;
  line-height: 45px;
  margin-left: 16px;
  font-weight: 400;
}
#header h2 a {
  color: #333;
}
#header h3 {
  float: right;
  font-family: 'Rambla', sans-serif;
  font-size: 23px;
  line-height: 45px;
  margin-left: 16px;
  font-weight: 400;
}
.sort_filter {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
  text-align: left;
}
h2.for_content {
  float: left;
}
.header_filter {
  margin-right: 200px;
  margin-top: 10px;
  float: right;
  text-align: left;
//  border: 1px solid red;
}
#header_filter li {
  text-align: left !important;
}
#header .likes_large {
  float: right;
  width: 150px;
  height: 50px;
  text-align: right;
}
#header .btn_context {
  visibility: hidden;
  position: absolute;
  margin-top: 13px;
  margin-left: 700px;
  text-align: left;
}
#header .content_tabs {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
#clear_playlist {
  position: absolute;
  margin-top: 10px;
}

.like_tabs {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

/************************/

#content {
  margin: 0 auto;
  width: 880px;
  padding: 190px 20px 40px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  border-bottom: 1px solid #555;
}
#content > h1 {
  margin-top: 20px;
  font-size: 37px;
  font-family: 'Nothing You Could Do', cursive;
}
#content > h4 {
  margin-left: 60px;
}
#content > h4 > a{
  color: #5b6699;
}
.item_list {
  color: #333;
  margin-left: 9px;
  margin-top: 12px;
  margin-bottom: 40px;
  list-style-type: none;
}
.item_list > li {
  height: 36px;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
}
.item_list > li:nth-child(2n+1) {
  background-color: #f8f8f8;
}
.item_list > li:hover {
  cursor: pointer;
  background-color: #fffbd0;
}
.item_list > li h2 {
  font-family: 'Shanti', sans-serif;
  line-height: 16px;
  font-size: 24px;
  float: left;
  font-weight: normal;
  width: 115px;
//  border: 1px solid black;
}
.item_list > li h2.alt {
  font-size: 20px;
}
.item_list > li h2.wide {
  width: 440px;
}
.item_list > li h2.wider {
  width: 580px;
}
.item_list > li h2.medium_width {
  width: 380px;
}
.item_list > li h3 {
  font-family: 'Shanti', sans-serif;
  line-height: 16px;
  font-size: 19px;
  float: right;
  color: #555;
  font-weight: normal;
}
.item_list > li h3.alt a {
  color: #555;
}
.item_list > li h4 {
  float: left;
  width: 300px;
  height: 20px;
  overflow: hidden;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 17px;
  color: #777;
  font-weight: normal;
  margin-left: 10px;
//  border: 1px solid black;
}
.item_list > li h4 a {
  color: #777;
}
.item_list > li h5 {
  float: left;
  width: 170px;
  height: 20px;
  overflow: hidden;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
//    border: 1px solid black;
}
.item_list > li h5 a {
  color: #999;
}
.item_list > li h5.large {
  font-size: 18px;
}
.item_list > li h6 {
  position: absolute;
  font-family: 'Shanti', sans-serif;
  line-height: 21px;
  font-size: 15px;
  font-weight: normal;
  margin-left: 680px;
}
.item_list > li h6 a {
  color: #999;
}
.item_list > li .btn_context {
  visibility: hidden;
  float: left;
  width: 70px;
  height: 20px;
  margin-left: 20px;
  line-height: 40px;
  text-align: left;
}
.btn_context {
  cursor: pointer;
}
.btn_context:hover {
  cursor: pointer;
}
.btn-round {
  border-radius: 30px !important;
}

/************************/

#footer_container {
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer_container p {
  font-size: 12px;
}

#search_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_container input {
  margin-top: 10px;
}
#search_submit {
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_results {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  //background-color: #eee;
//  border-radius: 5px;
//  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rambla', sans-serif;
}
#search_results p {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
#search_results h3 {
  margin-left: 18px;
}
/************************/

#userbox {
  font-family: sans-serif;
  float: right;
  margin-right: 5px;
}
#player_feedback {
  width: 50px;
  margin-top: 24px;
  float: right;
  margin-right: 5px;
  text-align: center;
//  border: 1px solid red;
  background-color: #edf2b5;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
//  display: none;
}
.done {
  background-color: #b7f2af !important;
  box-shadow: 0px 0px 16px #3b995f !important;
}
#player_title {
  line-height: 40px;
  padding: 0px;
  position: fixed;
  margin-top: -5px;
  margin-left: 300px;
  width: 410px;
  text-align: center;
  overflow: hidden;
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
//  border: 1px solid black;
}
#player_title.long_title {
  font-size: 18px;
}
#player_detail {
  padding: 0px;
  position: fixed;
  margin-top: 58px;
  margin-left: 300px;
  width: 400px;
  text-align: center;
  overflow: hidden;
  font-family: 'Rambla', sans-serif;
  font-size: 13px;
  font-weight: 400;
//  border: 1px solid black;
}
#player_detail a {
  color: #333;
}
#player_controls {
  position: fixed;
  margin-left: 114px;
  margin-top: 10px;
}
#player_controls > div {
  float: left;
  margin-right: 5px;
}
.playing {
  box-shadow: 0px 0px 16px #3b995f !important;
  background-position: -85px 0 !important;
}
.active_track {
  box-shadow: 0px 0px 16px #3b995f !important;
}

#scrubber_controls {
  position: fixed;
  width: 380px;
  height: 36px;
  margin-top: 25px;
  margin-left: 310px;
  font-family: 'Rambla', sans-serif;
//  border: 1px solid black;
}
//#scrubber_track {
//  position: fixed;
//  margin-top: 15px;
//  margin-left: 50px;
//  width: 280px;
//  background-color: #555;
//  height: 5px;
//  border-radius: 3px;
//  cursor: pointer;
//}
//#scrubber_knob {
//  z-index: 12;
//  position: fixed;
//  margin-top: 10px;
//  margin-left: 250px;
//  width: 13px;
//  height: 13px;
//  background-color: #ccc;
//  border-radius: 10px;
//  border: 1px solid black;
//  cursor: pointer;
//}
#time_elapsed {
  margin-left: 30px;
  width: 30px;
  font-size: 12px;
  line-height: 36px;
  float: left;
  text-align: left;
  padding-right: 5px;
//  border: 1px solid black;
}
#time_remaining {
  width: 48px;
  font-size: 12px;
  line-height: 36px;
  float: right;
  text-align: left;
//  border: 1px solid black;
}
.scrubbing {
  color: red;
}
#player_menu {
  position: fixed;
  margin-top: 26px;
  margin-left: 680px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#randomize_checkbox {
  margin-bottom: 15px;
  vertical-align: top;
}
#playlist_button {
  position: fixed;
  margin-top: 26px;
  margin-left: 740px;
  width: 60px;
  height: 40px;
//  border: 1px solid black;
}
#volume_icon {
  padding: 0px 0px 0px 0px !important;
  float: left;
  margin-left: 18px;
  margin-top: 0px;
  width: 22px !important;
  height: 21px;
  cursor: pointer;
  background: url('icons-volume.png');
//  border: 1px solid black;
}
.muted {
  background-position: -22px 0 !important;
}
#player_menu .nolink {
  padding-left: 22px;
}
#player_menu .volume_li {
  height: 30px;
  margin-top: 10px;
}
#playpause {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin-top: -13px;
  background: white url('icons-playpause.png');
}
#next, #previous {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin-top: 5px;
}
#previous {
  background: white url('icon-previous.png');
  margin-right: 2px;
}
#next {
  background: white url('icon-next.png');
  margin-left: 2px;
}
.playlist_title {
  float: left;
  border: 1px solid red;
}
.playlist {
  margin-top: 60px;
}

#era1 {
  background-color: #8aadb1;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
#era2 {
  background-color: #98bfc5;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
#era3 {
  background-color: #aedae2;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 40px;
}
.year_list {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.year_list > li {
  color: #333;
  margin: 7px;
  float: left;
  width: 232px;
  height: 36px;
  border-radius: 8px;
  padding: 8px 13px 8px 20px;
  background-color: #f8f8f8;
}
.year_list > li > h1 {
  float: right;
  font-size: 36px;
  line-height: 24px;
  text-align: right;
  font-family: 'Rambla', sans-serif;
}
.year_list > li > h2 {
  float: left;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  font-family: 'Rambla', sans-serif;
  color: #999;
  visibility: hidden;
}
.year_list > li:hover {
  cursor: pointer;
  background-color: #fffbd0;
}
.year_list a {
  color: #444;
 }
.year_list a:hover {
  text-decoration: none !important;
}
.alias_for {
  font-size: 12px;
  font-style: italic;
}
#share_url {
  border-radius: 8px;
  background-color: #ccc;
  border: 1px solid #333;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#paragraph_content {
  padding-top: 30px;
}
#footer_container a {
  margin-left: 20px;
}
#feedback {
  position: fixed;
  left: 0;
  margin: 5px;
  z-index: 200;
  width: 300px;
  font-weight: bold;
  font-size: 15px;
  color: #333;
}
.feedback_notice {
  background-color: #bbddb9;
  border: 2px solid #349941;
  border-radius: 5px;
  padding: 5px;
}
.feedback_alert {
  background-color: #dd8c91;
  border: 2px solid #991c23;
  border-radius: 5px;
  padding: 5px;
}
.instructions {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation {
  background-color: #d61b2d;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
}
#error_explanation h2 {
  font-size: 17px;
  line-height: 20px;
}
#dont_have_account {
  padding: 10px;
  background: #ccc;
  border: 1px solid #333;
  border-radius: 5px;
  float: right;
}

.field_label {
  font-size: 18px;
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}
.strong {
  font-size: 18px;
  font-weight: bold;
}
#download_modal_body {
  text-align: center;
  padding: 30px;
}
.note {
  font-size: 12px;
  font-style: italic;
}
#album_url {
  padding: 8px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: bold;
}
#album_timeout {
  padding: 10px;
  border-radius: 8px;
  display: none;
  background-color: #f4b5b5;
}