<p>Hi,</p>

<p>Someone has requested a link to change your password:</p>

<p><%= link_to 'Change my password', "http://phish.in/users/password/edit?reset_password_token=#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
