<% 
hash = {
  '<i class="icon icon-globe"></i> All' => 'all',
  '<i class="icon icon-user"></i> Only Mine' => 'mine',
  '<i class="icon icon-bookmark"></i> Only Phriends\'' => 'phriends'
}
%>
<h3>Display: 
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-sort" data-toggle="dropdown" href="null">
      <%
      hash.each do |key, val|
        if params[:filter] == val or !params[:filter]
          %><%= key.html_safe %><%
          break
        end
      end
      %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% hash.each do |key, val| %>
        <% link = (params[:filter] == val or !params[:filter]) ? "<strong>#{key}</strong>".html_safe : key %>
        <%= content_tag :li, link_to(link.html_safe, "?filter=#{CGI::escape(val)}")%>
      <% end %>
    </ul>
  </div>
</h3>