<div class="sort_filter">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
      Sort
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <%= sort_songs_links({'<i class="icon-text-height"></i> Alphabetically' => 'title', '<i class="icon-list"></i> Number of Tracks' => 'performances'}) %>
    </ul>
  </div>
</div>