<h3>Sort by&nbsp;
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
      <% item_hash.each_with_index do |(key, val), i| %>
        <% if params[:sort] == val or (i == 0 and params[:sort].empty?) %>
          <%= key.html_safe %>
        <% end %>
      <% end %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <%= sort_songs_and_venues_links(item_hash) %>
    </ul>
  </div>
</h3>
