<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
    Sort
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= sort_songs_and_venues_links(item_hash) %>
  </ul>
</div>
