<h3>Sort by&nbsp;
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-sort" data-toggle="dropdown" href="null">
      <% item_hash.each_with_index do |(key, val), i| %>
        <% if params[:sort] == val or (i == 0 and params[:sort].empty?) %>
          <%= key.html_safe %>
        <% end %>
      <% end %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% item_hash.each do |key, val| %>
        <% link = params[:sort] == val ? "<strong>#{key}</strong>" : key %>
        <%= content_tag :li, link_to(link.html_safe, "?sort=#{CGI::escape(val)}")%>
      <% end %>
    </ul>
  </div>
</h3>