<%= render 'index_header' %>
  
<div id="content">
      
  <h1>Most Liked Shows</h1>
  <ul class="item_list">
    <li>
      <h2>June 7</h2>
      <h4><a href="null">DCU Center</a></h4><h5><a href="null">Worcester, MA</a></h5>
      <div class="btn_context">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="null">
            <i class="icon-chevron-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="null"><i class="icon-arrow-right"></i>&nbsp;&nbsp;Go to show</a></li>
            <li><a href="null"><i class="icon-list"></i>&nbsp;&nbsp;Add to playlist</a></li>
            <li><a href="null"><i class="icon-share-alt"></i>&nbsp;&nbsp;Share</a></li>
            <li><a href="null"><i class="icon-download"></i>&nbsp;&nbsp;Download MP3s</a></li>
            <li><a href="null"><i class="icon-book"></i>&nbsp;&nbsp;Lookup @ phish.net</a></li>
          </ul>
        </div>
      </div>
      <div class="likes_for_track"><a></a><span>2352</span></div>
      <div style="clear: both;"></div>
    </li>
  </ul>
  <h4><a href="null">load 10 more...</a><h4>
      
</div>