= render partial: 'layouts/global_nav'

#content
  #title_box
    #map_search_container
      h1 Find shows near:
      input type='text' id='map_search_term' placeholder='place or zipcode' value=(params[:map_term])
      br
      | within
      input type='text' id='map_search_distance' value=params[:distance]
      | miles  
      br
      span.optional
        | within timeframe
        br
        input type='text' class='small_input' name='date_start' id='map_date_start' placeholder='earliest' value=params[:date_start]
        | to
        input type='text' class='small_input' name='date_start' id='map_date_stop' placeholder='latest' value=params[:date_stop]
      br
      br
      button#map_search_submit.btn type='button' SEARCH

  #content_box
    #google_map

  div style='clear: both;'

javascript:
  $(function() {
    $('#map_date_start').datepicker({
      dateFormat: 'yy-mm-dd',
      changeYear: true,
      changeMonth: true,
      yearRange: '1983:2017',
      showOtherMonths: true,
      selectOtherMonths: true
    });
    $('#map_date_stop').datepicker({
      dateFormat: 'yy-mm-dd',
      changeYear: true,
      changeMonth: true,
      yearRange: '1983:2017',
      showOtherMonths: true,
      selectOtherMonths: true
    });
  })
