<script type="text/javascript" charset="utf-8">
$(function() {
  $('#map_date_start').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: '1983:2013',
    showOtherMonths: true,
    selectOtherMonths: true
  });
  $('#map_date_stop').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: '1983:2013',
    showOtherMonths: true,
    selectOtherMonths: true
  });
})
</script>

<div id="content" class="noheader">
  
  <div id="map_search_container">
    Find shows near &nbsp;&nbsp;
    <input type="text" name="date" id="map_search_term" placeholder="place or zipcode" value="<%= params[:term] %>">
    &nbsp;&nbsp;within &nbsp;
    <input type="text" name="date" id="map_search_distance" value="<%= params[:distance] || 50 %>">&nbsp;&nbsp;miles &nbsp;
    <button type="button" class="btn" id="map_search_submit">Search</button><br />    
    <span class="optional">
      within timeframe&nbsp;&nbsp;
      <input type="text" class="small_input" name="date_start" id="map_date_start" placeholder="earliest" value="<%= params[:date_start] %>">
      &nbsp;&nbsp;to &nbsp;
      <input type="text" class="small_input" name="date_start" id="map_date_stop" placeholder="latest" value="<%= params[:date_stop] %>">
    </span>
  </div>
  
  <div id="google_map"></div>

</div>