<%= render 'shared/index_header' %>

<div id="content">
  
  <div id="map_search_container">
    Find shows in &nbsp;&nbsp;
    <input type="text" name="date" id="map_search_term" placeholder="city, state, or country" value="<%= params[:term] %>">
    &nbsp;&nbsp;within &nbsp;
    <input type="text" name="date" id="map_search_distance" value="<%= params[:distance] || 50 %>">&nbsp;&nbsp;miles &nbsp;
    <button type="button" class="btn" id="map_search_submit">Search</button>
  </div>
  
  <div id="google_map"></div>

</div>