<div id="header_container">
  <div id="header">
    <%= content_tag :h1, "Content Report" %>
    <%= content_tag :h3, "#{@percent_complete}% complete" %>
  </div>
</div>

<div id="content">
  
  <h1>Missing Shows</h1>
  
  <ul class="item_list">
  <% for show in @shows %>
    <% if show.missing? %>
      <li><%= show.date %></li>
    <% end %>
  <% end %>
  </ul>

</div>