<div id="content">
  
  <div id="title_box">
    <h1>404: Show not found</h1>
  </div>
  
  <div id="content_box">
    <h2>The banker said, "I ain't got that..."</h2>
    <p>Either a show was never played on this date or the content for this show is not availabe on this site</p>
  </div>
</div>