= render partial: 'layouts/global_nav'

#content
  #title_box
    h1 404: Requested show(s) not found
  #content_box
    h2 The banker said, "I ain't got that..."
    p No shows were found on the date(s) provided
