<div id="header_container">
  <div id="header">
    <h1>404: Show not found</h1>
  </div>
</div>
  
<div id="content">
  <h2>The banker said, "I ain't got that..."</h2>
  <p>Either a show was never played on this date or the content for this show has not yet been posted on this site</p>
</div>