<div id="header_container">
  <div id="header">
    <h1>404: Show not found</h1>
  </div>
</div>
  
<div id="content">
  <div id="paragraph_content">
    <h3>The banker said, "I ain't got that..."</h3>
  </div>
</div>