= render partial: 'layouts/global_nav'
#content
  #title_box
    h1 = @venue.name
    h2
      a href="/map?map_term=#{@venue.latitude},#{@venue.longitude}&distance=.5" = @venue.location
    h2 Shows hosted: #{@venue.shows_count}
    - if @venue.past_names.present?
      h2.venue_past_names Past name(s): #{@venue.past_names}
    .hr
    = render partial: 'shared/sort_filter', locals: { item_hash: venue_sort_items }
    .hr
    = link_to('<< Previous Venue'.html_safe, "/#{@previous_venue.slug}")
    = clear_both
    = link_to('Next Venue >>'.html_safe, "/#{@next_venue.slug}", class: 'next_item_link')

  #content_box
    - if @shows.empty?
      h1 No shows at this venue...

    - else
      ul.item_list.clickable
        - @shows.each_with_index do |show, idx|
          li
            h2 = link_to_show(show, false)
            h2.wide-180
              a href="/#{show.venue.slug}" = truncate(show.venue.name.html_safe, length: 35)
            h5.narrow
              a href="/map?map_term=#{CGI.escape(show.venue.location)}" = show.venue.location
            = likable(show, @shows_likes[idx], 'small')
            h3 = duration_readable(show.duration, 'letters')
            = render partial: 'shared/context_menu_for_show', locals: { show: show, viewing_this_show: false }
            = display_tags(show.tags, true, 'tag_container_small')
            = clear_both

  = clear_both
  br
  br
