= render partial: 'layouts/global_nav'

#content
  #title_box
    = content_tag :h1, "'#{params[:char]}' Venues"
    = content_tag :h2, "Total Venues: #{@venues.size}"
    = content_tag :div, nil, class: 'hr'
    = render partial: 'sort_songs_and_venues_filter', locals: { item_hash: {'<i class="icon-text-height"></i> Name' => 'name', '<i class="icon-list"></i> Number of Shows' => 'performances'} }

  #content_box
    ul.item_list.clickable
      - for venue in @venues
        li
          = content_tag :h2, link_to(truncate(venue.name, length: 45), "/#{venue.slug}"), class: 'wider'
          = content_tag :h5, link_to(venue.location, "/map?map_term=#{venue.latitude},#{venue.longitude}&distance=.5")
          = content_tag :h3, pluralize(venue.shows_count, 'show'), class: 'alt'
          = clear_both

  = clear_both
