= render partial: 'layouts/global_nav'

#content
  #title_box
    - # content_tag :div, nil, class: 'hr'
    = content_tag :h2, 'LIVE PHISH AUDIO STREAMS'
    = content_tag :h3, "#{number_with_delimiter(Show.avail.count, delimeter: ',')} shows"
    - # content_tag :h3, "Songs: #{number_with_delimiter(Song.relevant.count)}"
    - # content_tag :h3, "Tracks: #{number_with_delimiter(Track.count)}"
    = content_tag :h3, "3,575 hours of music"
    = content_tag :div, nil, class: 'hr'
    = render partial: "shared/app_phishod"
    - # content_tag :div, nil, class: 'hr'
    - # content_tag :h3, "Android developer wanted!", class: 'beta'

  #content_box
    - Hash[ERAS.to_a.reverse].each do |era, years|
      h1
        = era
        |  Era
      ul.item_list.clickable
        - years.reverse.each do |year|
          li
            - shows = (year == '1983-1987' ? Show.avail.between_years('1983', '1987').includes(:venue) : Show.avail.during_year(year).includes(:venue))
            = content_tag :h2, link_to(year, "/#{year}"), class: 'wider'
            = content_tag :h4, pluralize(shows.map(&:venue).uniq.size, 'venue'), class: 'narrow'
            = content_tag :h3, pluralize(shows.size, 'show'), class: 'alt'
            div style='clear: both;'

  div style='clear: both;'
