name: Brakeman
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  brakeman:
    name: Brakeman
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.8'
        bundler-cache: true
    - name: Run Brakeman
      run: |
        bundle exec brakeman --exit-on-warn
