#ajax_overlay

javascript:
  new Spinner({
    lines: 13,
    length: 20,
    width: 10,
    radius: 30,
    corners: 1.0,
    rotate: 0,
    direction: -1,
    color: '#000',
    speed: 1.0,
    trail: 50
  }).spin($('#ajax_overlay').get(0));
