<div id="feedback">
  <% if notice %>
    <p class="feedback_notice"><%= notice.html_safe %></p>
  <% end %>
  <% if alert %>
    <p class="feedback_alert"><%= alert.html_safe %></p>
  <% end %>
</div>