#global_nav_container
  #global_nav
    = global_nav
    #search_box
      = image_tag 'icon-search.png', alt: 'search icon'
      input#search_term type='text' name='term' value=params[:term]

  .divider

  #sub_nav = sub_nav

  #content_buffer
