= render partial: 'layouts/meta'
= auto_discovery_link_tag :rss, '/feeds/rss', title: 'Phish.in Updates'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans+Condensed:300,700'
