meta name='Description' content='#{DESCRIPTION}'
meta http-equiv='Content-Type' content='text/html; charset=utf-8'
meta charset='Unicode/UTF-8'

meta name='viewport' content='width=device-width, initial-scale=1'
meta property='og:type' content="music.playlist"
meta property='og:url' content="#{request.original_url}"
meta property='og:image' content="#{asset_path('logo-og.png')}"
- if @ogp_title.present?
  meta property='og:title' content="#{@ogp_title}"
- if @ogp_audio_url.present?
  meta property='og:audio' content="#{@ogp_audio_url}"
