<div id="player_menu">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-round btn_invisible" data-toggle="dropdown" href="null">
        <i class="icon-cog"></i>
      </a>
      <ul class="dropdown-menu">
        <%= content_tag :li, link_to('', 'null', id: 'volume_icon') + content_tag(:div, nil, id: 'volume_slider'), class: 'volume_li' %>
        <%= content_tag :li, check_box_tag('loop_checkbox', 1, session[:loop], class: 'playlist_option') + "&nbsp;&nbsp;Loop".html_safe, class: 'nolink' %>
        <%= content_tag :li, check_box_tag('randomize_checkbox', 1, session[:randomize], class: 'playlist_option') + "&nbsp;&nbsp;Randomize".html_safe, class: 'nolink' %>
      </ul>
    </div>
</div>