<div id="player_menu">
  
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-round" data-toggle="dropdown" href="null">
        <i class="icon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= content_tag :li, image_tag('icon-volume.png', alt: "Volume Controls", id: 'volume_icon') + content_tag(:div, nil, id: 'volume_slider'), class: 'volume_li' %>
        <div style="clear: both;"></div>
        <%= content_tag :li, check_box_tag('loop_checkbox', 1, false) + "&nbsp;&nbsp;Loop".html_safe, class: 'nolink' %>
        <%= content_tag :li, check_box_tag('randomize_checkbox', 1, false) + "&nbsp;&nbsp;Randomize".html_safe, class: 'nolink' %>
        <%= content_tag :li, link_to('<i class="icon-list"></i>&nbsp;&nbsp;Playlist...'.html_safe, playlist_path) %>
      </ul>
    </div>
</div>