<div id="userbox">
  
  <% if user_signed_in? %>
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-round" data-toggle="dropdown" href="null">
        <!-- <i class="icon-user"></i>&nbsp;&nbsp; --><%= current_user.name %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= content_tag :li, link_to('<i class="icon-edit"></i>&nbsp;&nbsp;Change Password'.html_safe, edit_user_registration_path, class: 'non-remote') %>
        <%= content_tag :li, link_to('<i class="icon-off"></i>&nbsp;&nbsp;Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'non-remote') %>
      </ul>
    </div>
  <% else %>
    <%= link_to '<button type="button" class="btn btn-round">Sign in</button>'.html_safe, new_user_session_path, class: 'non-remote' %>
  <% end %>
</div>