#userbox
  - if user_signed_in?
    .btn-group
      a.btn.dropdown-toggle.btn_invisible data-toggle='dropdown' href='null'
        = current_user.username
        span.caret
      ul.dropdown-menu
        = content_tag :li, link_to('<i class="icon-edit"></i>  Change Password'.html_safe, edit_user_registration_path, class: 'non-remote')
        = content_tag :li, link_to('<i class="icon-off"></i>  Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'non-remote')
  - else
    = link_to 'Sign in', new_user_session_path, class: 'non-remote'
